<div class="w-100 button-new-date__body p-0 {{needsScrollbar}}">
  <div class="button-new-date__body-svg-container" style="{{svgMaxHeight}}">
    {{svg-jar "when" class="button-new-date__body-svg-image"}}
  </div>
  <div class="container {{bodyClass}}" id="typeContent">
    <div class="row h-100 align-items-end">
      <div class="col-12 button-new-date__buttons">
        <p class="button-new-date__text mb-3">
          ¿Cuándo?
        </p>
        <button {{action 'setRadioButton' "now"}} class="w-100 d-block p-0 m-0 border-0 mb-2 button-new-date__button-outline" type="button" name="button">
          <div class="{{if (is-equal buttonDateType "now") "button-new-date__radio-buttons button-new-date__radio-buttons--filled" "button-new-date__radio-buttons"}}">
            <div class="radio-button__icon">
              {{svg-jar "now" class=(if (is-equal buttonDateType "now") "button-new-date__radio-icons button-new-date__radio-icons--filled" "button-new-date__radio-icons")}}
            </div>
            <div class="radio-button__text">
              Ahora
            </div>
          </div>
        </button>
        <button {{action 'setRadioButton' "specificDate"}} class="w-100 d-block p-0 m-0 border-0 mb-2 button-new-date__button-outline" type="button" name="button">
          <div class="{{if (is-equal buttonDateType "specificDate") "button-new-date__radio-buttons button-new-date__radio-buttons--filled" "button-new-date__radio-buttons"}}" {{action 'togglePicker' 'specificDate'}}>
            <div class="radio-button__icon">
              {{svg-jar "since_to" class=(if (is-equal buttonDateType "specificDate") "button-new-date__radio-icons button-new-date__radio-icons--filled" "button-new-date__radio-icons")}}
            </div>
            <div class="radio-button__text">
              Fecha / hora concreta
            </div>
          </div>
        </button>
      </div>
      <div class="col-12 mt-3 px-0">
        <button class="button-sample border-0 button-new-date__next-step-btn" {{action 'nextStep'}} type="button" name="button" disabled={{isNextButtonDisabled}}>
          Siguiente
        </button>
      </div>
      {{#if showPicker}}
        {{#modal-dialog
          onClose=(action 'closeModal')
          targetAttachment="center"
          translucentOverlay=true
          animatable=true
          containerClass="button-new-date__pickers-modal-content"
          overlayClass="button-new-date__pickers-modal"
        }}
          <div class="row px-4">
            <div class="col-12 px-3 mt-3">
              <header class="ember-modal-dialog__header ember-modal-dialog__header--bigger">
                <h3 class="ember-modal-dialog__title ember-modal-dialog__title--reservation-picker">
                  Seleccionar fecha y hora
                  <br>
                  <small class="mt-3 mb-2">Haga clic para elegir</small>
                </h3>
              </header>
            </div>
            <div class="col-12 mx-auto mt-3 mb-1">
              {{time-picker class="mx-auto" agreedDate=date}}
            </div>
            <div class="col-12 my-3">
              {{#power-calendar class="w-100 demo-calendar-small mx-auto"
                center=center
                onCenterChange=(action (mut center) value="date")
                selected=selected
                onSelect=(action (mut selected) value="date") as |calendar|}}
                {{calendar.nav}}
                {{calendar.days}}
              {{/power-calendar}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="button-sample border-0" {{action 'confirmDate'}} type="button" name="button">
                Aceptar
              </button>
            </div>
          </div>
        {{/modal-dialog}}
      {{/if}}
    </div>
  </div>
</div>
{{#unless isSmallDevice}}
  {{#link-to 'index.index.index' class="button-new-description__close-container"}}{{/link-to}}
{{/unless}}
