{{#if isList}}
  <div class="card-btn card-button{{buttonType}} card-btn{{cardStateBtnType}}">
    <div class="card-btn__thumb">
      <div class="card-btn__author">
        {{#if (is-equal routeType "userList")}}
          {{#if hasCreatorAvatar}}
            <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-btn__avatar">
          {{else}}
            {{svg-jar 'profile_def' class="card-btn__avatar"}}
          {{/if}}
        {{else}}
          {{#if button.isMine}}
            {{#if hasCreatorAvatar}}
              <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-btn__avatar">
            {{else}}
              {{svg-jar 'profile_def' class="card-btn__avatar"}}
            {{/if}}
          {{else}}
            {{#if hasCreatorAvatar}}
              <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-btn__avatar">
            {{else}}
              {{svg-jar 'profile_def' class="card-btn__avatar"}}
            {{/if}}
          {{/if}}
        {{/if}}
        {{!-- END Picture avatar --}}
        <div class="card-btn__author-wrap">
          <span class="card-btn__author-name">
            {{creator.nickname}}
          </span>
          <span class="card-btn__state card-btn__state{{cardBtnType}}">
            {{#if needsAndOffer}}
              {{#if button.swap}}
                <span class="card-button__status--busca">NECESITA</span> y <span class="card-button__status--ofrece">OFRECE A CAMBIO</span>
              {{else}}
                <span class="card-button__status--ofrece">OFRECE</span> y <span class="card-button__status--busca">BUSCA A CAMBIO</span>
              {{/if}}
            {{else}}
              {{buttonIntention}}
            {{/if}}
          </span>
        </div>
      </div>
    </div>
    <div class="card-btn__content">
      {{#if button.isChangeButton}}
        {{#if button.swap}}
          <div class="card-btn__tags card-btn__tags--red">
            {{#each button.neededTags as |tag|}}
              <div class="card-btn__link-tag">
                #{{tag.name}}
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="card-btn__tags card-btn__tags--green">
            {{#each button.offerTags as |tag|}}
              <div class="card-btn__link-tag">
                #{{tag.name}}
              </div>
            {{/each}}
          </div>
        {{/if}}

      {{/if}}
      {{#if button.isOfferButton}}
        <div class="card-btn__tags card-btn__tags--green">
          {{#each button.offerTags as |tag|}}
            <div class="card-btn__link-tag">
              #{{tag.name}}
            </div>
          {{/each}}
        </div>
      {{else}}
        {{#if button.swap}}
          <div class="card-btn__tags card-btn__tags--green">
            {{#each button.offerTags as |tag|}}
              <div class="card-btn__link-tag">
                #{{tag.name}}
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="card-btn__tags card-btn__tags--red">
            {{#each button.neededTags as |tag|}}
              <div class="card-btn__link-tag">
                #{{tag.name}}
              </div>
            {{/each}}
          </div>
        {{/if}}
      {{/if}}
    </div>
    <div class="card-btn__head">
      {{#if hasLocationName}}
        {{#if hasFromToLocation}}
          <div class="card-button__city col-auto" {{action 'toggleAttr' 'showMap'}}>
            De {{button.locationName}}
              <br>
              {{#if button.toLocationName}}
                <span class="card-button__toCity">
                  A {{button.toLocationName}}
                </span>
              {{/if}}
          </div>
        {{else}}
          <div class="card-button__city col-auto" {{action 'toggleAttr' 'showMap'}}>
            {{button.locationName}}
          </div>
        {{/if}}
      {{/if}}
      <div class="card-btn__when">
        {{#if hasFormatedDate}}
          {{formatedDate}}
        {{/if}}
      </div>
    </div>
    {{#if hasImage}}
      <picture class="card-btn__picture picture">
        <img alt="Button Image" src="{{image.thumb}}">
      </picture>
    {{/if}}
  </div>
{{else}}
  {{#unless showMap}}
    <div class="card-button card-button{{buttonType}} card-button--white">
      <div class="card-button__content">
        <div class="card-button__header">
          <div class="card-button__avatar d-flex align-items-center">
            {{#if (is-equal routeType "userList")}}
              <button {{action 'toggleAttr' 'showProfile'}} class="card-button__avatar-container picture__img" type="button" name="button">
                <div class="card-button__avatar-container picture__img">
                  {{#if hasCreatorAvatar}}
                    <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-avatar picture__img">
                  {{else}}
                    {{svg-jar 'profile_def' class="card-avatar picture__img"}}
                  {{/if}}
                </div>
              </button>
            {{else}}
              {{#if button.isMine}}
                {{#link-to profileRoute class="card-button__avatar-container picture__img"}}
                  {{#if hasCreatorAvatar}}
                    <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-avatar picture__img">
                  {{else}}
                    {{svg-jar 'profile_def' class="card-avatar picture__img"}}
                  {{/if}}
                {{/link-to}}
              {{else}}
                {{#link-to profileRoute linkSegmentId class="card-button__avatar-container picture__img"}}
                  {{#if hasCreatorAvatar}}
                    <img src="{{creatorAvatar.smallThumb}}" alt="Avatar" class="card-avatar picture__img">
                  {{else}}
                    {{svg-jar 'profile_def' class="card-avatar picture__img"}}
                  {{/if}}
                {{/link-to}}
              {{/if}}
            {{/if}}
          </div>
          <div class="card-button__info">
            <div class="card-button__status card-button__status{{buttonType}}">
              {{#if needsAndOffer}}
                {{#if button.swap}}
                  <span class="card-button__status--busca">NECESITA</span> y <span class="card-button__status--ofrece">OFRECE A CAMBIO</span>
                {{else}}
                  <span class="card-button__status--ofrece">OFRECE</span> y <span class="card-button__status--busca">BUSCA A CAMBIO</span>
                {{/if}}
              {{else}}
                {{buttonIntention}}
              {{/if}}
            </div>
            <div class="card-button__name">
              {{creator.nickname}}
            </div>
          </div>
          <div class="">
            {{#if showEdit}}
              {{#basic-dropdown horizontalPosition="right" verticalPosition="below" as |dropdown|}}
                {{#dropdown.trigger class="card-button__trigger"}}
                  {{svg-jar "down" class="card-button__edit-icon"}}
                {{/dropdown.trigger}}
                {{#dropdown.content
                  class="card-button__dropdown-container"
                }}
                  <div class="card-button__dropdown-arrow"></div>
                  <div class="card-button__dropdown-content">
                    {{#if isSmallDevice}}
                      {{#link-to 'buttons.new' button.id}}
                        <div class="card-button__trigger-options">
                          Editar botón
                        </div>
                      {{/link-to}}
                    {{else}}
                      {{#link-to 'index.index.new-button' button.id}}
                        <div class="card-button__trigger-options">
                          Editar botón
                        </div>
                      {{/link-to}}
                    {{/if}}
                    <button {{action 'removeButton'}} tagName="a" class="card-button__trigger-options card-button__trigger-button">
                      Borrar botón
                    </button>
                  </div>
                {{/dropdown.content}}
              {{/basic-dropdown}}
            {{/if}}
          </div>
        </div>
        <div class="card-button__hashtags">
          {{#if button.isChangeButton}}
            {{#if button.swap}}
              <div class="card-button__busca">
                {{#each button.neededTags as |tag|}}
                  {{#link-to 'index.index.index' (query-params searchTags=tag.name) class="hashtag"}}{{tag.name}}{{/link-to}}
                {{/each}}
              </div>
            {{else}}
              <div class="card-button__ofrece">
                {{#each button.offerTags as |tag|}}
                  {{#link-to 'index.index.index' (query-params searchTags=tag.name) class="hashtag"}}{{tag.name}}{{/link-to}}
                {{/each}}
              </div>
            {{/if}}
          {{/if}}
          {{#if button.isOfferButton}}
            <div class="card-button__ofrece">
              {{#each button.offerTags as |tag|}}
                {{#link-to 'index.index.index' (query-params searchTags=tag.name) class="hashtag"}}{{tag.name}}{{/link-to}}
              {{/each}}
            </div>
          {{else}}
            {{#if button.swap}}
              <div class="card-button__ofrece">
                {{#each button.offerTags as |tag|}}
                  {{#link-to 'index.index.index' (query-params searchTags=tag.name) class="hashtag"}}{{tag.name}}{{/link-to}}
                {{/each}}
              </div>
            {{else}}
              <div class="card-button__busca">
                {{#each button.neededTags as |tag|}}
                  {{#link-to 'index.index.index' (query-params searchTags=tag.name) class="hashtag"}}{{tag.name}}{{/link-to}}
                {{/each}}
              </div>
            {{/if}}
          {{/if}}
        </div>
        <div class="card-button__paragraph">
          <p>
            {{button.description}}
          </p>
        </div>
        <div class="row">
          {{#if hasLocationName}}
            {{#if hasFromToLocation}}
              <div class="card-button__city col-auto" {{action 'toggleAttr' 'showMap'}}>
                De {{button.locationName}}
                  <br>
                {{#if button.toLocationName}}
                  <span class="card-button__toCity">
                    A {{button.toLocationName}}
                  </span>
                {{/if}}
              </div>
            {{else}}
              <div class="card-button__city col-auto" {{action 'toggleAttr' 'showMap'}}>
                {{button.locationName}}
              </div>
            {{/if}}
          {{/if}}
          <div class="card-button__date col-auto">
            {{#if hasFormatedDate}}
              {{formatedDate}}
            {{/if}}
          </div>
        </div>
      </div>
      {{#if hasImage}}
        <div class="card-button__picture">
          {{#if isList}}
            <picture class="picture card-button__image">
              <img class="picture__img" alt="Button Image" src="{{image.thumb}}">
            </picture>
          {{else}}
            <picture class="picture">
              <img class="picture__img" alt="Button Image" src="{{image.url}}">
            </picture>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="card-button card-button__map-container card-button--white">
      <button type="button" {{action 'toggleAttr' 'showMap'}} class="card-button__close-map header__button">
        {{svg-jar 'cross' class="icon"}}
      </button>
      {{!-- Map --}}
      {{#leaflet-map
        onLoad=(action 'onMapLoad')
        zoomControl=false
        dragging=true
        bounds=mapBounds
        minZoom=3
        class="card-button__map"
        as |layers|
      }}
        {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
        {{#layers.marker
          draggable=false
          location=firstMarker
          icon=(div-icon
            html=(button-icon 'desde')
            iconSize=(point 50 60) iconAnchor=(point 25 60)
          )
         }}
        {{/layers.marker}}
        {{#if secondMarker}}
          {{#layers.marker
            draggable=false
            location=secondMarker
            icon=(div-icon
            html=(button-icon 'hasta')
            iconSize=(point 50 60) iconAnchor=(point 25 60)
            )
          }}
          {{/layers.marker}}
        {{/if}}
      {{/leaflet-map}}
    </div>
  {{/unless}}
{{/if}}
