<div class="header header--white header--font-white">
  <div class="header__nav">
  </div>
  <div class="header__center">
    <h1 class="header__title my-2">
      {{#if button.isMine}}
        MI BOTÓN
        {{#if button.active}}
          (Activado)
        {{else}}
          (Desactivado)
        {{/if}}
      {{else}}
        BOTÓN DE {{creatorName}}
      {{/if}}
    </h1>
  </div>
  <div class="header__nav">
    <button class="header__button" {{action 'markerClick'}}>
      {{svg-jar "cross" class="icon icon--white"}}
    </button>
  </div>
</div>
<button {{action 'closeButtonFile'}} class="button-file__container">
  <div class="button-file__card-button" {{action 'cardClick'}}>
    {{#if showButtonFile}}
      {{button-card
        allowEdit=allowEdit
        showProfile=showProfile
        routeType=routeType
        button=button
        creator=button.creator
        creatorAvatar=button.creator.avatar
        classNames="button-file__card-button"
        isButtonFile=true
        removeButtonTransition=(action 'removeButtonTransition')
      }}
      <div class="button-file__button-arrow"></div>
      <div class="button-file__below-buttons row mt-3 pb-3">
        <div class="col-3 button-file__yellow-circle-container">
          <a href="#buttonChats" class="button-circle {{unless button.isMine "button-file__yellow-circle-disabled"}}">
            <div class="button-circle__content">
              <div class="button-circle__number">
                {{button.chatsCounter}}
              </div>
              <div class="button-circle__icon">
                {{svg-jar "chat_black" class=(unless button.isMine "fill-icon")}}
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 button-file__yellow-circle-container px-0">
          <button {{action bigButtonAction}}  class="button-file__yellow-circle button-file__yellow-circle--big-circle button-file__yellow-circle-content  {{buttonClass}}">
            {{svg-jar svgIcon class="button-file__big-icon"}}
          </button>
        </div>
        <div class="col-3 button-file__yellow-circle-container">
          <button {{action 'toggleProperty' 'showButtonFile'}} class="button-circle">
            <div class="button-circle__content">
              {{!-- TODO: Add count functionality --}}
              <div class="button-circle__number">
                {{button.sharedCounter}}
              </div>
              <div class="button-circle__icon">
                {{!-- Provisional icon until we get the real one --}}
                {{svg-jar "share_black" class="fill-icon"}}
              </div>
            </div>
          </button>
        </div>
      </div>
      <a name="buttonChats"></a>
      {{#if buttonIsMine}}
        <div class="row button-file__messages-container">
          {{#each chatsComp as |chat|}}
            {{chat-card
              chat=chat
            }}
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      {{button-new-share
        button=button
        toggleProperty=(action 'toggleProperty')
        isButtonFile=true
        socialShareTransition=socialShareTransition
        socialShareNetwork=socialShareNetwork
        socialShareURL=socialShareURL
      }}
    {{/if}}
  </div>
</button>
{{yield}}
