{{#if isSmallDevice}}
  {{!-- MODAL --}}
  {{#if isShowingModal}}
    {{#modal-dialog
      onClose=(action 'toggleModal')
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
      overlayClass="buttons-filters buttons-filters__modal"
      containerClass="buttons-filters__modal-container"
    }}
      <header class="header py-2 buttons-filters__header">
        <div class="header__nav"></div>
        <div class="header__center">
          <h1 class="header__title">
            {{#if isProfileList}}
              FILTRAR MIS BOTONES
            {{else}}
              FILTRAR BUSQUEDA
            {{/if}}
          </h1>
        </div>
        <div class="header__nav">
          <button class="header__button" {{action 'toggleModal'}}>
            {{svg-jar "cross" class="icon"}}
          </button>
        </div>
      </header>
      <div class="container-fluid buttons-filters__filters-container">
        <div class="row h-100">
          {{!-- Busqueda --}}
          <div class="col-12 mt-3">
            {{#power-select-multiple-with-create
              selected=selectedTags
              onchange=(action 'changeSelectedTags')
              search=(action 'searchTags')
              options=trendingTags
              placeholder="Buscar por ej: #comida #deporte"
              triggerClass="select__select ember-power-select-no-icon buttons-filters__tags-multiple-select"
              dropdownClass="select__option"
              searchMessage=false
              loadingMessage="Buscando tags..."
              oncreate=(action 'searchTags')
              buildSuggestion=(action 'tagSuggestion')
              as |tag|
            }}
              <div {{action 'removeTag' tag}} class="ember-power-select-multiple-remove-btn">
                #{{tag.name}}
                <div class="button-counter">
                  {{tag.buttonsCounter}} buttons
                </div>
              </div>
            {{/power-select-multiple-with-create}}

            {{#if showAddressSearch}}
              <div class="mt-3">
                {{place-autocomplete-field
                  classNames="input"
                  inputClass='input__input buttons-filters__autocomplete-input'
                  value=inputAddress
                  setValueWithProperty='formatted_address'
                  handlerController=this
                  withGeoLocate=true
                  placeholder="¿Dónde lo buscas?"
                  disabled=isSearching
                }}
              </div>
            {{/if}}
          </div>
          <div class="col-12">
            <div class="row align-content-end h-100">
              {{yield}}
              <div class="col-12 mt-3">
                <label for="sortSelect" class="label pb-0 ml-3">Mostrar botones que: </label>
              </div>
              <div class="col-6 buttons-filters__checkbox buttons-filters__checkbox-right">
                <div class="checkbox">
                  <label class="checkbox__label mb-0">
                    {{input type="checkbox" checked=needFilter  class="checkbox__checkbox"}}
                    <div class="checkbox__content checkbox__content-bg-left checkbox__content--small checkbox__content--bordered buttons-filters__checkbox--border-grey justify-content-end">
                      <p class="checkbox__text ml-0 mr-2">
                        Necesitan
                      </p>
                      <div class="button-with-icon__icon button-colored-circle"></div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-6 buttons-filters__checkbox buttons-filters__checkbox-left">
                <div class="checkbox">
                  <label class="checkbox__label mb-0">
                    {{input type="checkbox" checked=offerFilter  class="checkbox__checkbox"}}
                    <div class="checkbox__content checkbox__content--small checkbox__content--bordered buttons-filters__checkbox--border-grey ">
                      <div class="button-with-icon__icon button-colored-circle button-colored-circle--blue"></div>
                      <p class="checkbox__text">
                        Ofrecen
                      </p>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-12">
                <div class="select my-3">
                  {{#power-select
                    options=sortOptions
                    selected=selectedSort
                    searchEnabled=false
                    onchange=(action (mut selectedSort))
                    triggerClass="select__select buttons-filters__select buttons-filters__sort-icon"
                    dropdownClass="select__option buttons-filters__select"
                    as |option|
                  }}
                    {{option}}
                  {{/power-select}}
                </div>
                <div class="row mt-auto">
                  <div class="col px-0">
                    <button type="button" {{action 'cleanFilters'}} class="button-sample border-0">LIMPIAR FILTROS</button>
                  </div>
                  <div class="col px-0">
                    <button type="button" {{action 'searchAndFilter'}} class="button-sample border-0">APLICAR FILTROS</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/modal-dialog}}
  {{/if}}
{{else}}
  <div class="row mb-3">
    {{yield}}
  </div>
  <div class="row">
    <div class="col-lg-12 {{if isIndexRoute "buttons-filters__card-align"}}">
      <div class="row align-items-center  {{if isIndexRoute "justify-content-end" "justify-content-center"}}">
        <div class="col-auto buttons-filters__checkbox buttons-filters__small-padding">
          <button {{action 'applyFilters' 'needFilter'}} class="checkbox">
            <label class="checkbox__label mb-0">
              {{input type="checkbox" checked=needFilter  class="checkbox__checkbox"}}
              <div class="checkbox__content checkbox__content-bg-left checkbox__content--bordered justify-content-end">
                <p class="checkbox__text ml-0 mr-2">
                  Necesitan
                </p>
                <div class="button-with-icon__icon button-colored-circle"></div>
              </div>
            </label>
          </button>
        </div>
        <div class="col-auto buttons-filters__checkbox buttons-filters__small-padding">
          <button {{action 'applyFilters' 'offerFilter'}} class="checkbox">
            <label class="checkbox__label mb-0">
              {{input type="checkbox" checked=offerFilter class="checkbox__checkbox"}}
              <div class="checkbox__content checkbox__content--bordered">
                <div class="button-with-icon__icon button-colored-circle button-colored-circle--blue"></div>
                <p class="checkbox__text">
                  Ofrecen
                </p>
              </div>
            </label>
          </button>
        </div>
        {{#unless isMapRoute}}
          <div class="select col-auto d-inline-flex align-items-center buttons-filters__small-padding">
            {{#power-select
              options=sortOptions
              selected=selectedSort
              searchEnabled=false
              onchange=(action 'applyFilters' 'selectedSort')
              triggerClass="select__select buttons-filters__select buttons-filters__sort-icon"
              dropdownClass="select__option buttons-filters__select"
              as |option|}}
              {{option}}
            {{/power-select}}
          </div>
        {{/unless}}
        {{#if isMapRoute}}
          <div class="col-auto">
            {{#promise-button
              class=userMarkerClass
              btnAction=(action 'localizeUser')
              hideContentOnLoading=true
            }}
              {{svg-jar "center" class="icon"}}
            {{/promise-button}}
          </div>
        {{/if}}
        {{#unless hideMapLink}}
          <div class="col-auto">
            {{#if isMapRoute}}
              {{#link-to 'index.index' (query-params buttonsDisplay="list") class="buttons-filters__search-btn" title="search"}}
                {{svg-jar "list_view" class="svg-icon buttons-filters__list-icon"}}
              {{/link-to}}
            {{else}}
              {{#link-to 'index.index' (query-params buttonsDisplay="map") class="buttons-filters__search-btn" title="search"}}
                {{svg-jar "place" class="svg-icon buttons-filters__list-icon"}}
              {{/link-to}}
            {{/if}}
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
{{/if}}
