<header class="header py-2 {{unless isSmallDevice "header--big-height row"}}">
  {{#if isSmallDevice}}
    <div class="header__nav">
      {{#if showBackBtn}}
        {{#link-to 'index.index.index' class="header__button" tagName="button"}}
          {{svg-jar 'back' class="icon"}}
        {{/link-to}}
      {{else}}
        {{#if isAuthenticated}}
          <button type="button" {{action 'toggleModal' 'isShowingMenuModal'}} class="header__button">
            {{svg-jar 'menu' class="icon"}}
          </button>
        {{else}}
          <button type="button" {{action 'toggleModal' 'hideWelcome'}} class="header__button">
            {{svg-jar 'back' class="icon"}}
          </button>
        {{/if}}
      {{/if}}
    </div>
    <div class="header__center">
      {{#if isMyButtonsRoute}}
        <h3 class="header__title">
          MIS BOTONES
        </h3>
      {{else}}
        {{#link-to 'index'}}
          {{svg-jar "svg-logo" class="small-header-icon"}}
        {{/link-to}}
      {{/if}}
    </div>
    <div class="header__nav">
      {{#if showLinkToHome}}
        <button type="button" {{action 'toggleModal' 'isShowingModal'}} class="header__button">
          {{#link-to 'index.index.index' (query-params hideWelcome=true)}}
            {{svg-jar 'button_list' class="icon"}}
          {{/link-to}}
        </button>
      {{else}}
        <button type="button" {{action 'toggleModal' 'isShowingModal'}} class="header__button">
          {{svg-jar 'lense' class="icon"}}
        </button>
      {{/if}}
    </div>
  {{else}}
    {{#link-to 'index' class="component-header__logo col-lg-2"}}
      {{svg-jar "svg-logo" class="icon"}}
    {{/link-to}}
    {{!-- nav-bar desktop --}}
    <div class="col">
      <form class="row" onsubmit="return false;">
        <div class="col">
          {{#power-select-multiple-with-create
            selected=selectedTags
            search=(action 'searchTags')
            options=trendingTags
            onchange=(action "closedToggleSelectedTag")
            placeholder="Buscar por ej: #comida #deporte"
            triggerClass="select__select select__select-header ember-power-select-no-icon component-header__text-input"
            dropdownClass="component-header__options border-0"
            searchMessage=false
            oncreate=(action 'searchTags')
            buildSuggestion=(action 'tagSuggestion')
            as |tag|
          }}
            <div class="ember-power-select-multiple-remove-btn">
              #{{tag.name}}
              <div class="button-counter">
                {{tag.buttonsCounter}} buttons
              </div>
            </div>
          {{/power-select-multiple-with-create}}
        </div>
        <span class="my-auto component-header__text"> en </span>
        <div class="col pr-4">
          <div class="row">
            {{place-autocomplete-field
              classNames="input col"
              inputClass='input__input component-header__autocomplete-input col'
              value=inputAddress
              setValueWithProperty='formatted_address'
              handlerController=this
              withGeoLocate=true
              placeholder="¿Dónde lo buscas?"
              disabled=isSearching
            }}
            {{#promise-button
              type="submit"
              class="header__button component-header__search-button"
              btnAction=(action 'searchByAddress')
              hideContentOnLoading=true
            }}
              {{svg-jar "lense" class="icon"}}
            {{/promise-button}}
          </div>
        </div>
      </form>
    </div>
    {{!-- If is logged --}}
    {{#if isAuthenticated}}
      {{#basic-dropdown horizontalPosition="right" verticalPosition="below" as |dropdown|}}
        {{#dropdown.trigger class="col-3 mr-3"}}
          <div class="row component-header__user-header-menu">
            <picture class="col-2 px-0 text-center picture component-header__avatar-container">
              {{#if currentUser.hasAvatar}}
                <img src={{currentUserAvatar.tinyThumb}} alt="Avatar" class="component-header__avatar picture__img">
              {{else}}
                {{svg-jar 'profile_def' class="bg-primary component-header__avatar picture__img"}}
              {{/if}}
            </picture>
            <span class="col-8 menu-component__option-div-text">Hola {{currentUser.nickname}}!</span>
            {{!-- <div class="col-2 px-0">
              <span class="component-header__notification">2</span>
            </div> --}}
          </div>
        {{/dropdown.trigger}}
        {{#dropdown.content
          onMouseLeave=(action "closeDropdown")
          class="component-header__dropdown-container"
        }}
          <div class="component-header__dropdown-arrow"></div>
          <div class="component-header__dropdown-content">
            {{menu-component
              isShowingMenuModal=isShowingMenuModal
              isShowingModal=isShowingModal
              isSmallDevice=isSmallDevice
            }}
          </div>
        {{/dropdown.content}}
      {{/basic-dropdown}}
    {{else}}
      <div class="col component-header__session-buttons">
        <div class="row justify-content-end">
          <div class="col component-header__header-button">
            {{#link-to 'register' class="button button--bordered" tagName='button'}}
              Crear cuenta
            {{/link-to}}
          </div>
          {{#basic-dropdown horizontalPosition="right" verticalPosition="below" as |rrssDropdown|}}
            {{#rrssDropdown.trigger class="col component-header__header-button"}}
              <button class="button button--bordered" type="button" name="button">
                Entrar
              </button>
            {{/rrssDropdown.trigger}}
            {{#rrssDropdown.content
              class="bg-dark shadow p-4 mt-3 rounded"
            }}
              <div class="col-12 px-0">
                {{#link-to 'login' class="button-with-icon button-with-icon__link button-with-icon--bordered button-with-icon--small justify-content-between"}}
                  <div class="button-with-icon__text">
                    Continuar con HelpButtons
                  </div>
                  <div class="button-with-icon__icon">
                    {{svg-jar "icon_yellow_bg" class="icon"}}
                  </div>
                {{/link-to}}
                <a href="#" class="button-with-icon button-with-icon__link button-with-icon--bordered button-with-icon--small justify-content-between" {{action 'rrssAuthenticate' 'twitter'}}>
                  <div class="button-with-icon__text">
                    Continuar con Twitter
                  </div>
                  <div class="button-with-icon__icon">
                    {{svg-jar "twitter-brands" class="icon"}}
                  </div>
                </a>
                <button class="button-with-icon button-with-icon__link button-with-icon--bordered button-with-icon--small justify-content-between" {{action 'rrssAuthenticate' 'facebook-oauth2'}}>
                  <div class="button-with-icon__text">
                    Continuar con Facebook
                  </div>
                  <div class="button-with-icon__icon">
                    {{svg-jar "facebook-official" class="icon"}}
                  </div>
                </button>
                <button class="button-with-icon button-with-icon__link button-with-icon--bordered button-with-icon--small justify-content-between" {{action 'rrssAuthenticate' 'google-oauth2'}}>
                  <div class="button-with-icon__text">
                    Continuar con Google+
                  </div>
                  <div class="button-with-icon__icon">
                    {{svg-jar "google-plus" class="icon"}}
                  </div>
                </button>
                <button class="button-with-icon button-with-icon__link button-with-icon--bordered button-with-icon--small justify-content-between"
                  {{action 'rrssAuthenticate' 'instagram-oauth2'}}>
                  <div class="button-with-icon__text">
                    Continuar con Instagram
                  </div>
                  <div class="button-with-icon__icon">
                    {{svg-jar "instagram" class="icon"}}
                  </div>
                </button>
              </div>
            {{/rrssDropdown.content}}
          {{/basic-dropdown}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</header>
{{!-- MODAL --}}
{{#if isSmallDevice}}
  {{#if isShowingMenuModal}}
    {{#modal-dialog
      onClose=(action 'toggleModal')
      targetAttachment='none'
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
      overlayClass="component-header__modal"
      containerClass=modalBackground
    }}
      {{menu-component
        isSmallDevice=isSmallDevice
        isShowingMenuModal=isShowingMenuModal
        classNames="menu-component"
      }}
    {{/modal-dialog}}
  {{/if}}
{{/if}}
