<div class="row home-welcome__text px-3">
  <div class="col-12 p-3">
    <strong>{{welcomeTitle}}</strong>
  </div>
  <div class="col-12 p-3">
    <p class="">Colabora en lo que <strong>TÚ</strong> quieras con tu grupo, organización, barrio, ciudad, país o MUNDO con <strong>Helpbuttons.org</strong>.</p>
  </div>
  <div class="col-12">
    <div class="row text-center">
      <div class="col-6 pr-0">
        {{#link-to 'others' class="home-welcome__small-buttons" tagName="button"}}
          Más info
        {{/link-to}}
      </div>
      <div class="col-6 pl-0">
        {{#link-to 'others' (query-params section="donate") class="home-welcome__small-buttons" tagName="button"}}
          Donar
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="home-welcome__half-screen text-center">
  {{#link-to 'index.index.new-button' 'new'}}
    <div class="home-welcome__create-button">
      <div class="home-welcome__create-button-border">
      </div>
      <div class="row home-welcome__button-design">
        <div class="col-12 text-center">{{svg-jar "create"}}</div>
        <div class="col-12 home-welcome__create-button-text">
          <strong>CREAR BOTÓN</strong>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>
{{yield}}
