<header class="header py-2 home-welcome-mobile__header">
  <div class="header__nav">
    {{!-- Open menu? --}}
    <button {{action 'toggleModal' 'isShowingMenuModal'}} class="home-welcome-mobile__header-button" type="button" name="button">
      {{svg-jar "menu" class="home-welcome-mobile__header-icon"}}
    </button>
  </div>
  <div class="header__center">
    {{svg-jar "svg-logo" class="small-header-icon"}}
  </div>
  <div class="header__nav">
    {{#link-to 'index' (query-params hideWelcome="true")}}
      {{svg-jar "button_list" class="home-welcome-mobile__header-icon"}}
    {{/link-to}}
  </div>
</header>
<div class="home-welcome-mobile__half-screen home-welcome-mobile__text">
  <div class="pt-4 px-4 home-welcome-mobile__align-bottom">
    <p><strong>{{welcomeTitle}}</strong></p>
    <p>Colabora en lo que <strong>TÚ</strong> quieras con tu grupo, organización, barrio, ciudad, país o MUNDO con <strong>Helpbuttons.org</strong>.</p>
    <div class="d-flex justify-content-between">
      <div class="text-center">
        {{#link-to 'others' class="home-welcome-mobile__small-buttons" tagName="button"}}
          Más info
        {{/link-to}}
      </div>
      <div class="text-center">
        {{#link-to 'others' (query-params section="donate") class="home-welcome-mobile__small-buttons" tagName="button"}}
          Donar
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="home-welcome-mobile__half-screen home-welcome-mobile__half-screen--z-index text-center">
  {{#link-to 'buttons.new' "new"}}
    <div class="home-welcome-mobile__create-button">
      <div class="home-welcome-mobile__create-button-border">
      </div>
      <div class="row home-welcome-mobile__button-design">
        <div class="col-12 text-center">{{svg-jar "create"}}</div>
        <div class="col-12 home-welcome-mobile__create-button-text">
          <strong>CREAR BOTÓN</strong>
        </div>
      </div>
    </div>
  {{/link-to}}
  <div class="home-welcome-mobile__align-bottom w-100 h-100">
    <div class="position-relative w-100 h-100">
      {{svg-jar "trans" class="home-welcome-mobile__svg"}}
    </div>
  </div>
</div>
{{trending-tags}}
