<div class="login-component__modal-content w-100">
  <div class="mx-0 h-100 row justify-content-center align-items-end w-100">
    <div class="{{modalClasses}} login-component__inputs-container">
      <form class="" onsubmit="return false;">
        <div class="input">
          <label for="login-email" class="label">
            Introduce tus datos
          </label>
          {{input id='login-email' value=email class='input__input mb-2' required=true placeholder="Email"}}
        </div>
        <div class="input">
          <div class="paragraph text-right mb-1">
            <a href="#" {{action 'togglePasswordVisibily'}}>
              {{if isVisiblePassword 'Ocultar' 'Mostrar'}}
            </a>
          </div>
          {{input id='login-password' value=password class='input__input mb-2' type=passwordInputType placeholder="Contraseña"}}
        </div>

        {{#if hasError}}
          {{#each errorMessages as |error|}}
            {{error-message title=error.title subtitle=error.detail}}
          {{/each}}
        {{/if}}

        <div class="paragraph text-right">
          {{#link-to routeName}}
            Si no tienes cuenta puedes registrarte
          {{/link-to}}
        </div>
        <div class="paragraph text-right mt-2">
          {{#link-to 'recovery'}}
            Olvidé mi contraseña
          {{/link-to}}
        </div>

        <div class="row justify-content-center mt-5">
          <div class="col-12">
            {{#promise-button
              type="submit"
              class="button-sample"
              btnAction=(action 'authenticate')
            }}
              Entrar
            {{/promise-button}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{#if isModal}}
  {{#link-to 'index.index.index' class="register-component__close-container"}}{{/link-to}}
{{/if}}
{{yield}}
