{{#if isAuthor}}
  <div class="message-component message-component--you mb-4">
    <div class="message-component__content">
      {{message.body}}
    </div>
    <div class="message-component__hour">
      {{time}}
    </div>
  </div>
{{else}}
  <div class="message-component message-component--me mb-4">
    <div class="row message-component__header">
      <div class="col-auto pr-0">
        {{#if hasAvatar}}
          <img src="{{avatar.thumb}}" alt="Avatar" class="message-component__avatar avatar picture__img">
        {{else}}
          {{svg-jar 'profile_def' class="bg-primary message-component__avatar avatar picture__img"}}
        {{/if}}
      </div>
      <div class="col message-component__user-name-container">
        <p class="message-component__user-name">{{otherUser.nickname}}</p>
      </div>
    </div>
    {{!-- Add message owner avatar and name --}}
    <div class="message-component__content">
      {{message.body}}
    </div>
    <div class="message-component__hour">
      {{time}}
    </div>
  </div>
{{/if}}
