{{component-header
  searchAction=(action 'searchByAddress')
  isShowingModal=isShowingModal
  showLinkToHome=true
  showBackBtn=true
}}
<div class="container profile-edition__container">
  <div class="row pt-4">
    <div class="col-12 col-lg-3 profile-edition__main-image">
      {{svg-jar "world" class="svg-image"}}
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mb-3">
        <div class="col-12">
          <a id="showWhatIsHelpButtons"></a>
          <button class="profile-edition__button-toggle {{if showWhatIsHelpButtons "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showWhatIsHelpButtons'}} type="button" name="button">
            ¿Qué es Helpbuttons.org?
          </button>
        </div>
        {{#if showWhatIsHelpButtons}}
          <div class="col-12 others__section-content">
            <p><strong>Una herramienta colaborativa para todas tus necesidades, libre y socialmente responsable.</strong></p>
            <p><strong class="others__subtitle">*Con Helpbuttons también puedes crear tu propia red colaborativa. Para ello {{#link-to 'others' (query-params section="create")}}pulsa aquí{{/link-to}}.</strong></p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showCanDo"></a>
          <button class="profile-edition__button-toggle {{if showCanDo "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showCanDo'}} type="button" name="button">Con Helpbuttons...</button>
        </div>
        {{#if showCanDo}}
          <div class="col-12 others__section-content">
            <div class="row">
              <div class="col-10 col-lg-8 mt-4 pl-4 others__text-with-image">
                <p><strong>Colabora en lo que quieras, sin que comercien con tu información. Acuerda tratos, trueques sin intermediarios ni comisiones.</strong></p>
              </div>
              <div class="col-2 col-lg-4 mt-4 d-flex justify-content-center align-items-center">
                {{svg-jar '22_chat78' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Crea una red para ayudar a las personas mayores de tu zona.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '23_elder8_Artboard 1' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Haz tu propia app de coche compartido para tu barrio o ciudad.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '1_terrestre_one' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Encuentra gente para hacer deporte o jugar a juegos de mesa.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '7_games_table_all' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Evita tirar comida creando una red de colaboración entre vecinos.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '10_cook2' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Crea una herramienta colaborativa en tu hospital entre médicos y pacientes o en tu centro educativo entre profesores y alumnos.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '41_sanidad_farmacia' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Ayuda a personas afectadas en situaciones de catástrofes naturales o atentados.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '21_general help_Artboard 1' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Comparte tus conocimientos sobre cualquier materia.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '18_teach_ADVICE_Artboard 1' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Busca y encuentra personas que se ayudan en el cuidado de mascotas.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '38_animal34' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Haz una herramienta colaborativa interna exclusiva para tu negocio.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '6_tics_electronic_tech_&software' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4 others__text-with-image">
                <p><strong>Encuentra personas para compartir gastos en tren, avión u otros transportes.</strong></p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '62_fnanciacion' class="others__images"}}
              </div>

              <div class="col-10 col-lg-8 pl-4">
                Y más...
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showWhyHelpButtons"></a>
          <button class="profile-edition__button-toggle {{if showWhyHelpButtons "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showWhyHelpButtons'}} type="button" name="button">¿Por qué Helpbuttons.org?</button>
        </div>
        {{#if showWhyHelpButtons}}
          <div class="col-12 others__section-content">
            <p>
              Existen muchas plataformas colaborativas que ponen en contacto a personas por un beneficio económico, pero:
              <strong>
              <ol>
                <li>
                  ¿Qué ocurre con la colaboración en la que el beneficio económico no es suficiente para sostener una plataforma específica?
                </li>
                <li>
                  ¿O con la ayuda social en la que el intercambio económico no existe?
                </li>
              </ol>
              </strong>
              Para esas situaciones surge <strong>Helpbuttons.org. 100% gratuita, sin comercio de tu información y de código libre.</strong>
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showEasyToUse"></a>
          <button class="profile-edition__button-toggle {{if showEasyToUse "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showEasyToUse'}} type="button" name="button">Fácil de usar</button>
        </div>
        {{#if showEasyToUse}}
          <div class="col-12 others__section-content">
            <ul>
              <li>
                Crea un botón
                <ul>
                  <li>
                    Añade a tu botón <strong>#etiquetas para lo que <span class="card-btn__tags--red"><span class="card-btn__link-tag">#buscas</span></span> / <span class="card-btn__tags--green"><span class="card-btn__link-tag">#ofreces</span></span> + un lugar + una fecha. Compártelo en tus redes sociales.</strong>  Prueba a crear un botón <strong>aquí</strong>.
                  </li>
                </ul>
              </li>
              <li>
                Pulsa un botón
                <ul>
                  <li>
                    Busca <strong>#etiquetas</strong> sobre un tema que te interese. Elige un botón y púlsalo. Entrarás en contacto para tratar el tema.
                  </li>
                </ul>
              </li>
            </ul>
            <p>

            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showHowIsAButton"></a>
          <button class="profile-edition__button-toggle {{if showHowIsAButton "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showHowIsAButton'}} type="button" name="button">¿Qué es exactamente un botón?</button>
        </div>
        {{#if showHowIsAButton}}
          <div class="col-12 others__section-content">
            <div class="row">
              <div class="col-12">
                <p>
                  Un botón es un ficha pública, <strong>que puedes activar y desactivar cuando quieras</strong>, que te permitirá ponerte en <strong>contacto en privado</strong> con personas para colaborar en <strong>lo que elijas</strong>.
                  <br>
                  Tiene un título formado por <strong>#etiquetas</strong>, una descripción, (icono lugar) un lugar y (icono tiempo) una fecha en la que hacer la colaboración. Adicionalmente se le puede añadir una <strong>categoría</strong> y/o una <strong>imagen</strong> (cámara) para ilustrar. Algunos ejemplos :
                </p>
              </div>
              <div class="col-10 col-lg-8">
                <p>Antonio busca un lugar para dejar a su perro durante sus vacaciones.</p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '38_animal34' class="others__images"}}
              </div>
              <div class="col-10 col-lg-8">
                <p>Manuela busca a gente para jugar al baloncesto en su barrio todas las semanas.</p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '7_games_table_all' class="others__images"}}
              </div>
              <div class="col-10 col-lg-8">
                <p>Pepe quiere dedicar su tiempo libre ayudar a vecinos en riesgo de exclusión social.</p>
              </div>
              <div class="col-2 col-lg-4 d-flex justify-content-center align-items-center">
                {{svg-jar '34_minorias_inmigrac' class="others__images"}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showRepresent"></a>
          <button class="profile-edition__button-toggle {{if showRepresent "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showRepresent'}} type="button" name="button">¿Representas a un grupo, barrio, entidad o administración?</button>
        </div>
        {{#if showRepresent}}
          <div class="col-12 others__section-content">
            <p>
              Cualquiera puede tener ahora su <strong>propia web/app colaborativa</strong>, pública o privada, y mejorar sus servicios con Helpbuttons.
            </p>
            <p>
              <strong>Asistencia, dependencia, seguridad, limpieza o colaboración ciudadana</strong>. Si estás interesado/a escríbenos a nuestro <strong><u>botón de asistencia a la grupos/organizaciones</u></strong>.
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showCreateCollaborativeButton"></a>
          <button class="profile-edition__button-toggle {{if showCreateCollaborativeButton "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showCreateCollaborativeButton'}} type="button" name="button">Crea tu propia red colaborativa gratuita</button>
        </div>
        {{#if showCreateCollaborativeButton}}
          <div class="col-12 others__section-content">
            <p>
              Para ello, sólo cread una etiqueta que os guste, por ejemplo <strong>#AyudaArganda o #CarabanchelMayores</strong> y añadidlas a los botones que creéis. Informad a vuestros vecinos o a quien queráis que participe y podréis conocer qué se necesita u ofrece en vuestro barrio/ciudad/organización/grupo en cualquier momento para la tarea que queráis.
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showBeHelper"></a>
          <button class="profile-edition__button-toggle {{if showBeHelper "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showBeHelper'}} type="button" name="button">Hazte Helper</button>
        </div>
        {{#if showBeHelper}}
          <div class="col-12 others__section-content">
            <p>
              Si crees como nosotros <strong>en la necesidad de una herramienta colaborativa universal, socialmente responsable y disponible para todos</strong>, puedes hacerte <strong>Helper</strong> y además de recibir todas las novedades en tu buzón tendrás acceso a extras durante el desarrollo como crear botones ilimitados, etiquetas inteligentes, seguir perfiles, posicionamiento dinámico, destacar en los resultados y reconocimiento en la web.
            </p>
            <p>Hay dos maneras de hacerse helper:</p>
            <ol>
              <li>
                <strong>Interactuando con usuarios</strong>, si creas varios botones activos o acumulas varias interacciones positivas se te notificará en tu buzón que eres helper.
              </li>
              <li>
                <strong>Aportando 1 euro al mes</strong> con cualquiera de estas dos opciones:
              </li>
              <div class="row justify-content-between px-3">
                <div class="col-5 px-0 others__iframe">
                  <iframe class="w-100 h-100" src="https://www.teaming.net/group/spread/widgets/WfVqddYzVcZYU08KlkSp4LzQTpl4i5kV3jjodrJvQ9O5K/2?lang=es_ES&TM=true" width=375 height=160 frameborder='1' scrolling="no" style="overflow: hidden; border:none;"></iframe>
                </div>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KUSKYS6Q4YR6E&source=url" class="col-5 button button--bordered others__iframe-paypal">
                  PAYPAL
                </a>
              </div>

            </ol>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showCollaborateApps"></a>
          <button class="profile-edition__button-toggle {{if showCollaborateApps "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showCollaborateApps'}} type="button" name="button">Colaborar con apps colaborativas</button>
        </div>
        {{#if showCollaborateApps}}
          <div class="col-12 others__section-content">
            <p>
              Si tienes otra web o plataforma y quieres colaborar con nosotros para mostrar tus resultados no dudes en escribirnos desde nuestro <strong><u>botón de asistencia a otras redes</u></strong>.
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showImagination"></a>
          <button class="profile-edition__button-toggle {{if showImagination "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showImagination'}} type="button" name="button">Colaborar con Helpbuttons.org</button>
        </div>
        {{#if showImagination}}
          <div class="col-12 others__section-content">
            <p>
              <strong>Aparte de {{#link-to 'others' (query-params section="helper")}}hacerte Helper{{/link-to}}</strong>, cualquier persona que crea que en esta iniciativa es libre de colaborar. Sólo haciendo difusión ya haces mucho, pero si quieres hacer más aquí está nuestra lista de objetivos a corto plazo para la plataforma:
              <ul>
                <li>
                  Colaborar con la administración y con entidades sociales.
                </li>
                <li>
                  Dar protagonismo a causas sociales a través de la app.
                </li>
                <li>
                  Mejorar la usabilidad y la adaptación al mayor tipo de perfiles de usuario.
                </li>
                <li>
                  Mejorar  las posibilidades de localización, selección de tiempo u otras prestaciones, adición de imágenes, etc.
                </li>
                <li>
                  Añadir un sistema de categorías y mejorar las opciones de búsqueda de botones.
                </li>
                <li>
                  Diseñar un buen sistema de auto moderación de la comunidad.
                </li>
                <li>
                  Generar una wiki propia del proyecto.
                </li>
              </ul>
              <p>También buscamos gente que sepa de:</p>
              <ul>
                <li>
                  Diseño front web CSS
                </li>
                <li>
                  Ruby on rails
                </li>
                <li>
                  RRSS y medios
                </li>
              </ul>
              <p>
                También buscamos voluntarios para explicar el funcionamiento de la web a usuarios nuevos o con poca experiencia en tecnología.
              </p>
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showBehind"></a>
          <button class="profile-edition__button-toggle {{if showBehind "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showBehind'}} type="button" name="button">Detrás de Helpbuttons.org</button>
        </div>
        {{#if showBehind}}
          <div class="col-12 others__section-content">
            <p>
              <strong>Helpbuttons</strong> es un proyecto del estudio <strong>watchoutfreedom.com</strong> (link) que empezó en 2013 sin ánimo de lucro. Hoy (2019) se lanza la BETA con la intención de abrirse a todo el mundo y mejorarlo durante un año de prueba y búsqueda de financiación.
              <br>
              Colaboradores actuales : Alex M. Gorgal (link) y Agiledevers (link), Salvador Rodríguez Balestra, Virginia Gómez, Celia Arias González, Alberto Gómez Agustino
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showPolicyAndConventions"></a>
          <button class="profile-edition__button-toggle {{if showPolicyAndConventions "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showPolicyAndConventions'}} type="button" name="button">Políticas y convenciones</button>
        </div>
        {{#if showPolicyAndConventions}}
          <div class="col-12 others__section-content">
            <p><strong>Helpbuttons.org</strong> no tiene reglas rígidas, pero se espera que los usuarios acaten los principios establecidos en políticas y convenciones, excepto cuando hay una buena razón para no hacerlo. Si ignorando estos principios se encuentra que un usuario está actuando perjudicialmente, esa persona se arriesga a ser bloqueado o restringido en la interacción.</p>
            <p>Las políticas y convenciones pueden editarse, teniendo presente que tienen la intención de reflejar el consenso de la comunidad de usuarios de <strong>Helpbuttons</strong>. Las ediciones que impliquen un cambio en una práctica aceptada normalmente requieren una discusión previa para asegurar que la comunidad realmente acepta el cambio.</p>
            <p><strong>Watchoutfreedom</strong> se reserva ciertos derechos legales. No obstante, en el funcionamiento normal, Helpbuttons es un proyecto autónomo dirigido por su comunidad. Helpbuttons no es una red social... Toda la interacción entre usuarios es privada. <strong>Helpbuttons.org</strong> no entrará en la información compartida por los usuarios si estos no lo denuncian ni cobrará por ello.</p>
            <p>A cambio, los usuarios son responsables de su uso, acreditan ser mayores de 14 años y respetar las reglas de la comunidad. Sus políticas y convenciones pretenden reflejar el consenso de la comunidad.</p>
            <p>Las personas que usen <strong>Helpbuttons.org</strong> se comprometen a respetar sus normas.</p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showPrivacyPolicy"></a>
          <button class="profile-edition__button-toggle {{if showPrivacyPolicy "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showPrivacyPolicy'}} type="button" name="button">Política de privacidad</button>
        </div>
        {{#if showPrivacyPolicy}}
          <div class="col-12 others__section-content">
            <p>
              ¿Quién es el responsable del tratamiento de sus datos personales?
              <br>
              (Helpbuttons.org en adelante, "Helpbuttons"), NIF nº 32.05.7935-Y, ubicado en la Avda México 10 p7 2ºA, 08026, Jerez , Cádiz (España) y correo electrónico: <a href="mailto:help@helpbuttons.org" class="others__mailto" target="_top">help@helpbuttons.org</a>, será responsable de sus datos personales (en adelante, los "Datos").
              <br>
              Le informamos que cuando a través de nuestra Página Web o de nuestra Aplicación realice algún comentario en redes sociales, el responsable de los Datos que facilite a través de las mismas será la red social correspondiente y no Helpbuttons, debiendo dirigirse a dicha red social para ejercer, en su caso, sus derechos de protección de datos que puede consultar en el apartado ¿Cuáles son los derechos de protección de sus datos personales? de la presente Política de Privacidad.
              <br>
              ¿A quién es aplicable esta Política?
              <br>
              La utilización de la  Página Web de Helpbuttons así como de su Aplicación no está dirigida a menores de 14 años y, por consiguiente, éstos deberán abstenerse de facilitar cualquier información de carácter personal. En este sentido, Helpbuttons recomienda la utilización de su  Página Web y de su Aplicación a personas mayores de 18 años. Para ello, Helpbuttons se reserva el derecho a comprobar en cualquier momento la edad de los usuarios de su Página Web y de su Aplicación.
              <br>
              ¿Cuándo recabamos sus datos personales?
              <br>
              Helpbuttons recaba y trata datos de carácter personal tanto de usuarios que se hayan registrado en nuestra Página Web o en nuestra Aplicación, como de usuarios que, no habiéndose registrado, naveguen o las consulten. Aunque no los utiliza con propósito comercial sino para mejora de la experiencia del usuario.
              <br>
              De esta manera, Helpbuttons obtiene y utiliza los datos de la IP y demás identificadores proporcionados por el dispositivo desde el que navegue por nuestra Página Web o por nuestra Aplicación, a la vez que recaba los Datos que usted proporcione en el momento de registrarse como "Usuario" de Helpbuttons, así como aquellos Datos obtenidos como consecuencia de su navegación, solicitudes, publicaciones, conversaciones, búsquedas, compras, valoraciones de otros usuarios, participación en concursos y los Datos derivados, en su caso, de la vinculación de su registro en nuestra Página Web o en nuestra Aplicación con su cuenta en Facebook o Google.
              <br>
              Adicionalmente, si nos da su consentimiento Helpbuttons también tratará la ubicación de su dispositivo para informarle de los botones que tiene más cerca.
              <br>
              ¿Qué datos recabamos?
              <br>
              Helpbuttons solamente recaba los Datos que resultan estrictamente necesarios para la consecución de las finalidades de obtención de los mismos, las cuales detallamos en el apartado ¿Con qué finalidades tratamos sus datos personales? de la presente Política de Privacidad. Es por ello que, en caso de no facilitarnos dichos Datos no podremos, gestionar el registro solicitado, prestarle el servicio solicitado, llevar a cabo el intercambio solicitado, facilitarle la información requerida, etc., que en cada caso corresponda
              <br>
              Asimismo, le informamos que determinadas funcionalidades de nuestra Página Web así como de nuestra Aplicación utilizan la navegación considerando su ubicación para poder proporcionarle la información más relevante en cada caso, así como para ofrecerle ciertos servicios. Aunque la navegación considerando la ubicación es siempre una elección del usuario, en los casos en los que Usted la rechace la Página Web y/o la Aplicación de Helpbuttons no podrán ofrecerle las funcionalidades o proporcionarle los contenidos basados en dicha ubicación.
              <br>
              ¿Con qué finalidades y con qué base legitimadora tratamos sus datos personales?
              <br>
              En el caso de que usted no se haya registrado en nuestra página Web y/o de nuestra Aplicación, Helpbuttons tratará la Ip de su dispositivo para las siguientes finalidades:
              <br>
              - Acceder a su ubicación mientras navega por nuestra página web o utiliza nuestra Aplicación para mostrarle los botones que tienes más cerca. Dicho tratamiento lo llevaremos a cabo únicamente si nos da su consentimiento para ello, mediante la aceptación de nuestra política de cookies o los ajustes de su dispositivo.
              <br>
              En el caso que usted se haya registrado en nuestra página Web y/o de nuestra Aplicación, las finalidades para las cuales trataremos sus Datos de carácter personal son:
              <br>
              - Gestionar su alta y sus preferencias de usuario dentro del área de usuario registrado, así como para prestarle los servicios de nuestra página Web y/o de nuestra Aplicación que Usted haya solicitado. La base de legitimación que habilita a Helpbuttons a tratar sus datos para la presente finalidad es su solicitud de registro.
              <br>
              - Para velar por el buen uso de nuestros servicios, impidiendo que se lleven a cabo usos ilícitos o contrarios a la política y valores de la comunidad, pudiendo incluso darle de baja como usuario registrado. La base legitimadora de dicho tratamiento es el cumplimiento por parte de Helpbuttons de determinadas obligaciones legales, así como el interés legítimo de proteger nuestros servicios...
              <br>
              - Gestionar su participación en los concursos que organizamos, legitimando dicho tratamiento la aceptación por su parte de las bases legales del correspondiente concurso en el que usted participe libremente.
              <br>
              - Analizar el contenido de los chats en los que interactúe con otros usuarios en el caso de ser denunciado por ellos, al objeto de verificar que se hace un uso lícito de nuestros servicios. Tratamiento que realizaremos al amparo de nuestro interés legítimo para para evitar fraude o actos ilícitos.
              <br>
              ¿Durante cuánto tiempo conservamos sus datos personales?
              <br>
              En el caso de que usted no se haya registrado en nuestra página Web y/o de nuestra Aplicación, el tiempo de conservación de sus datos de carácter personal por parte de Helpbuttons será el siguiente:
              <br>
              - El tratamiento realizado de la IP o de cualquier otro identificador de su dispositivo para conocer el origen de la descarga de nuestra web y/o Aplicación se llevará a cabo únicamente en el momento en que tenga lugar dicha descarga.
              <br>
              - Por su parte Helpbuttons tratará y conservará la ubicación de su dispositivo con las finalidades antes indicadas, mientras no deshabilite la geolocalización de su dispositivo.
              <br>
              En el caso que usted se haya registrado en nuestra página Web y/o de nuestra Aplicación, los Datos que tratamos se conservarán durante los siguientes plazos:
              <br>
              - Los datos recabados para permitirle el registro en nuestra página web o aplicación ser conservarán mientras Usted no cancele su cuenta.
              <br>
              - Los datos recabados para gestionar sus preferencias como usuario se conservarán mientras usted no se oponga a dicho tratamiento.
              <br>
              - Aquellos datos recabados y tratados para velar por el buen uso de nuestros servicios y productos se conservarán hasta que se haya llevado a cabo la acción de verificación correspondiente.
              <br>
              - Los datos recabados como consecuencia de su participación en los concursos realizados por Helpbuttons se conservarán hasta que finalice el concurso correspondiente.
              <br>
              - Conservaremos los datos que Usted facilite a través de nuestro chat mientras realicemos la comprobación correspondiente sobre el uso lícito de nuestros servicios.
              <br>
              - Los datos obtenidos como consecuencia de la contratación por su parte de los servicios de entrega se conservarán hasta que prescriba la responsabilidad civil derivada de dicho servicio.
              <br>
              - Aquellos datos obtenidos como consecuencia de las quejas o consultas que nos pueda dirigir se conservarán hasta que se haya resuelto la queja o consulta correspondiente.
              <br>
              - Los datos relativos a sus hábitos de navegación o de consumo que podamos haber obtenido de terceros serán mantenidos mientras usted no revoque el consentimiento otorgado.
              <br>
              De manera general, cuando Usted se dé de baja como usuario registrado de Helpbuttons, ésta eliminará toda la información de que dispusiera de aquél. Sin embargo, Helpbuttons conservará datos meramente estadísticos de utilización por parte de los usuarios de sus recursos y herramientas.
              <br>
              ¿Con quién compartimos sus datos personales?
              <br>
              Con nadie. Helpbuttons sólo inspecciona los datos de usuarios una vez se denuncie por otros usuarios o la administración.
              <br>
              ¿Cuáles son sus derechos en materia de protección datos de carácter personal?
              <br>
              Nosotros no operamos con sus datos personales, aun así, usted podrá ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación al tratamiento y portabilidad de sus Datos, así como la revocación, en cualquier momento, de los consentimientos, en su caso, prestados ante Helpbuttons.org , NIF nº 32057935Y, en la Avda México 10 p7 2 A Jerez España, adjuntando fotocopia de su DNI o documento identificativo válido equivalente. Para su mayor comodidad, y sin perjuicio de que se deban cumplir con determinados requisitos formales establecidos por la LOPD, Helpbuttons.org  le ofrece la posibilidad de ejercer los derechos antes referidos a través del correo electrónico: <a href="mailto:help@helpbuttons.org" class="others__mailto" target="_top">help@helpbuttons.org</a>.
              <br>
              Igualmente, le recordamos la posibilidad de dirigir una reclamación ante la Agencia Española de Protección de Datos, especialmente cuando considere que Helpbuttons no ha satisfecho debidamente el ejercicio de sus derechos. Dicha reclamación podrá presentarla ante la citada autoridad mediante las diferentes opciones que la sede electrónica de la Agencia Española de Protección de datos ofrece (https://www.aepd.es/reglamento/derechos/index.html).
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showSecuritySuggestions"></a>
          <button class="profile-edition__button-toggle {{if showSecuritySuggestions "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showSecuritySuggestions'}} type="button" name="button">Consejos de seguridad Helpbuttons</button>
        </div>
        {{#if showSecuritySuggestions}}
          <div class="col-12 others__section-content">
            <p>
              ¡La seguridad ante todo!
              <br>
              Antes de empezar a colaborar te recomendamos que leas estos consejos, que ayudarán a mejorar tu experiencia en Helpbuttons.
              <ul>
                <li>Helpbuttons está pensado para favorecer encuentros en persona, o uno a uno en la red.</li>
                <li>Si al chatear con la persona no te inspira confianza o dudas de la veracidad de su perfil, busca a otra persona, seguro encuentras a otra que te inspire más confianza y seguridad.</li>
                <li>Te recomendamos hacer las transacciones en persona o blockchain.</li>
                <li>Evita hacer transferencias o métodos de pago que no permitan verificar el usuario o lo ofertado.</li>
                <li>Mira el perfil del colaborador para ver sus valoraciones anteriores y su verificación de perfil o el resto de sus productos.</li>
                <li>No te fíes de fotos que no parezcan reales o que sean de catálogo. En Helpbuttons hay buenas personas, sí, ¡pero todo es posible!</li>
                <li>Las ofertas de extranjeros que más dinero de lo normal o se ofrecen a asumir los gastos de envío acostumbran a ser fraudes. Si detectas este tipo de oferta, repórtala a <a href="mailto:help@helpbuttons.org" class="others__mailto" target="_top">help@helpbuttons.org</a> y no envíes el producto hasta que no te confirmemos que se trata de un colaborador fiable.</li>
                <li>Helpbuttons nunca te enviará mensajes con links para poder ver tus mensajes o hacerte ofertas. Si detectas este tipo de actividad, denúnciala para que podamos tomar las acciones necesarias.</li>
              </ul>
              CONSEJOS RELATIVOS AL USO DE HELPBUTTONS
              <ul>
                <li>En el caso de tratos por dinero, no enviar dinero mediante agencias de transferencias.</li>
                <li>No es recomendable comprar productos que provengan supuestamente del extranjero.</li>
                <li>No enviar avances de los pagos sin comprobar el producto</li>
                <li>Te recomendamos realizar todas las gestiones y conversaciones mediante  nuestro chat interno.</li>
                <li>Si vas a quedar con alguien y te inspira alguna duda, intentar no quedar a solas.</li>
                <li>Desconfiar de las propuestas de compra a precios superiores a los indicados en la oferta.</li>
                <li>Evitar los pagos a distancia o mediante transferencias.</li>
                <li>Queda terminantemente prohibida el intercambio de objetos robados.</li>
              </ul>
              Helpbuttons colaborará con los organismos policiales con tal de hacer que el uso de Helpbuttons sea lo más seguro posible.
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showGeneralRules"></a>
          <button class="profile-edition__button-toggle {{if showGeneralRules "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showGeneralRules'}} type="button" name="button">Reglas generales de convivencia</button>
        </div>
        {{#if showGeneralRules}}
          <div class="col-12 others__section-content">
            <p>
              Helpbuttons utiliza mecanismos para regular los botones que se publican, aunque el objetivo final es que la comunidad se auto regule.
              <br>
              <strong>
                Todo el contenido (incluyendo fotos, títulos, textos) que vaya contra disposiciones legales, buenas costumbres, y/o nuestros términos de uso o que ofenda otros usuarios está sujeto a la eliminación por parte de la comunidad de  Helpbuttons.
              </strong>
              <br>
              ¿Qué se puede tratar en Helpbuttons? Puedes tratar lo que quieras, siempre que no acabes provocando la denuncia de la comunidad o de la policía.
              <br>
              Sólo algunos temas/objetos están recogidos como censurables, aunque estos pueden cambiar con el tiempo dependiendo de la comunidad:
              <ul>
                <li>Ten en cuenta que no se puede publicar varias veces el mismo botón o subir el mismo en varias veces. Helpbuttons no es una plataforma para uso publicitario, por lo que cualquier anuncio con dicha finalidad será retirado.</li>
                <li>Aunque tengas muchos botones molones en tu perfil, no está permitido publicar uno dirigiendo a tu perfil.</li>
                <li>Aunque no pedimos que escribas una novela, sí que recomendamos redactar las descripciones de manera adecuada, facilitando la información necesaria para describir lo que necesitas/ofreces.</li>
              </ul>
              <ol type="a">
                <li>PRODUCTOS NO PERMITIDOS
                  <ul type="disc">
                    <li>Cosas penalizadas por la ley. Cualquier anuncio de estas características podrá ser bloqueado.</li>
                  </ul>
                </li>
                <li>SERVICIOS NO PERMITIDOS
                  <ul type="disc">
                    <li>Contenido relacionado con publicidad, spamming, cadenas de correos, esquemas piramidales, marketing multinivel , amenazas y/o fraude.</li>
                    <li>Cualquier enlace que dirija o pretenda dirigir tráfico a otras páginas web o apps.</li>
                    <li>Contenido relacionado con acciones ilegales y/o peligrosas.</li>
                    <li>etc.</li>
                  </ul>
                </li>
                <li>VIOLACIÓN DE LA PROPIEDAD INTELECTUAL
                  <ul type="disc">
                    <li>Contenido que infrinja la propiedad intelectual o los derechos industriales, incluyendo patentes, marcas registradas, copyrights o secretos comerciales.</li>
                    <li>Falsificaciones.</li>
                    <li>Contenido que infrinja la privacidad de información personal de cualquier tipo.</li>
                    <li>Contenido que infrinja los derechos de privacidad de cualquiera, sea o no usuario de Helpbuttons.</li>
                    <li>Intercambio de documentos originales y/o falsificados o duplicados (carnet de conducir, documentos de identidad, diplomas, o cualquier otro documento emitido desde entidades gubernamentales).</li>
                    <li>etc.</li>
                  </ul>
                </li>
                <li>CONTENIDO NO APROPIADO
                  <ul type="disc">
                    <li>No está permitido publicar botones que promuevan actividades ilegales.</li>
                    <li>No está permitido publicar contenido que pueda conllevar un riesgo para la salud y/o seguridad.</li>
                    <li>No está permitido publicar anuncios para denunciar el comportamiento de otros usuarios de la aplicación. En caso de tener problemas puedes reportarlo en <strong>nuestro <u>botón de seguridad</u></strong>.</li>
                    <li>No está permitida la publicación de bromas, contenido falso, deshonesto, ambiguo, incorrecto o que induzca al engaño o redirija a contenidos no permitidos.</li>
                    <li>No está permitida la publicación de productos relacionados o recuperados de desastres naturales, escenas de crimen, accidentes o tragedias.</li>
                    <li>Productos relacionados con partes del cuerpo humano, fluidos corporales, sangre, restos humanos, artefactos funerarios, morgues o autopsias.</li>
                    <li>Contenido que, de cualquier manera, está relacionado a un individuo menor de 18 años.</li>
                    <li>etc.</li>
                  </ul>
                </li>
                <li>ANIMALES DE CUALQUIER TIPO Y RAZA Y PLANTAS EN EXTINCIÓN
                  <ul type="disc">
                    <li>Animales disecados (taxidermia), excepto insectos</li>
                    <li>Collares antiladrido, de púas, de castigo o de ahorque</li>
                    <li>Ahuyentadores ultrasónicos que puedan causar daño a animales domésticos (gatos, perros, etc.)</li>
                    <li>Fósiles, caracolas o minerales recogidos en suelo público</li>
                  </ul>
                </li>
              </ol>
            </p>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showCategories"></a>
          <button class="profile-edition__button-toggle {{if showCategories "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showCategories'}} type="button" name="button">Categorías de la ayuda en Helpbuttons.org</button>
        </div>
        {{#if showCategories}}
          <div class="col-12 others__section-content">
            <p>La asignación de <strong>#etiquetas o #tags</strong> es libre, cualquiera puede asignar cualquiera a su botón. Sin embargo, las categorías son reguladas por la comunidad y exigen cierto orden en su uso para funcionar. Si tienes dudas sobre qué cosa va en cada categoría, aquí va un pequeño resumen:</p>
            <div class="row">
              <div class="col-auto others__category-text">
                <strong>Coches y vehículos de motor en carretera</strong>
              </div>
              <div class="col px-0">
                {{svg-jar '1_terrestre_one' class="icon others__categories"}}<br>
              </div>
            </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Trenes</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '2_tren_Artboard' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Transporte marítimo</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '3_maritim' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Transporte aéreo</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '4_air' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Transporte sin motor</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '5_non_motor' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>TICS Informática, Electrónica y software</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '6_tics_electronic_tech_&software' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Deporte y Ocio, juegos y videojuegos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '7_games_table_all' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Alojamiento y hogar</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '8_home_and_garden_help_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Intercambio y adquisición de objetos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '9_objetos' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Cocina</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '10_cook2' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Artes, música, cine, tv y espectáculos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '11_plastic_art_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Compras en general</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '12_compras' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Artesanía</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '13_crafts' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Peluquería y estética</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '14_peluc_estectic' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Fiestas y celebraciones</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '15_party' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Conferencias y reuniones</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '16_meetings_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Alimentación y ayuda humanitaria</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '17_drink3_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Enseñanza y asesoramiento</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '18_teach_ADVICE_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Investigaciones científicas y sociales</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '19_investigacion' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Religión</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '20_religion5' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Echar una mano - Ayuda física en general</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '21_general help_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Charla y socialización en general</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '22_chat78' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Mayores</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '23_elder8_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Emergencia</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '24_emergency' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Adicciones</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '25_addiction_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Política y Estado</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '26_politics_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Consumo responsable y reciclaje</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '27_sustain_recicle' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Cooperación al desarrollo</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '28_cooperacion' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Derechos humanos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '29_human_rights' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Enfados y denuncias</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '30_enfado_denuncia_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Medio ambiente</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '31_nature90' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Mujeres</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '32_woman_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Hombres</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '33_man_Artboard 1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Minorías étnicas</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '34_minorias_inmigrac' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Personas con discapacidad</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '35_paral' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Personas en riesgo de exclusión o sin hogar</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '36_shelter' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Personas en situación penitenciaria y colaboración policial</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '37_police_jail' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Protección y cuidado de animales</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '38_animal34' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Plantas, botánica y jardín</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '39_plants' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Amor y sexualidad </strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '40_love3' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Salud, farmacia y vida sana</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '41_sanidad_farmacia' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Niños y Bebés</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '42_Babe_child' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Fabricación, construcción y reformas</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '43_construccion_bricolage_reformas' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Industria y Agricultura</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '44_agric_industria' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Limpieza e higiene</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '45_cleaning' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Advertencia peligro</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '46_peligro_danger' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Pobreza y ahorro energético</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '47_energy' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Guía</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '48_guide2' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Almacenaje</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '50_storage' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Tráfico y circulación</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '51_traffic2' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Depresión y problemas psicológicos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '52_depresion' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Economía y cuentas</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '53_problemas_economicos' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Defunciones</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '54_defunciones' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Otras causas sociales</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '55_otras_causas' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Seguridad</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '56_security' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Fraudes y engaños</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '57_lies_fraud' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Sorteos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '58_luck_sorteo' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Humor, bromas</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '59_humor_bromas_risoterapia' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Temores y miedos</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '60_temores_miedo' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Diseños</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '61_design1' class="icon others__categories"}}<br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto others__category-text">
                  <strong>Tratos económicos/ financiación</strong>
                </div>
                <div class="col px-0">
                  {{svg-jar '62_fnanciacion' class="icon others__categories"}}<br>
                </div>
              </div>
          </div>
        {{/if}}
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <a id="showContact"></a>
          <button class="profile-edition__button-toggle {{if showContact "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showContact'}} type="button" name="button">Ayuda, contacto y asistencia</button>
        </div>
        {{#if showContact}}
          <div class="col-12 others__section-content">
            <p>
              Para cualquier otra duda o tarea no dudes en contactarnos <strong>en nuestro botón</strong>:
            </p>
            <p><strong>O también en otras redes:</strong></p>
            <p>
              <strong>
                Twitter
                <br>
                Facebook
                <br>
                Instagram
              </strong>
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</div>
