<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="trending-tags__title">
        Etiquetas populares:
      </h3>
    </div>
  </div>
  <div class="row">
    {{#each trendingTags as |tag|}}
      <div class="offset-lg-0 col-12 trending-tags__tag-element">
        <div class="row justify-content-center">
          <span class="text-right text-lg-left col col-lg-12 trending-tags__tag-name">
            {{#link-to 'index.index.index' (query-params searchTags=tag.name hideWelcome=true) class=""}}
              #{{tag.name}}
            {{/link-to}}
          </span>
          <span class="col col-lg-12 trending-tags__buttons-count">
            {{tag.buttonsCounter}} buttons
          </span>
        </div>
      </div>
    {{else}}
      <div class="col-12">
        <p>
          <strong>Lo sentimos, no se ha encontrado ningún tag</strong>
        </p>
      </div>
    {{/each}}
  </div>
</div>
