<div class="bg-primary">
  {{component-header
    searchAction=(action 'searchByAddress')
    isShowingModal=isShowingModal
    isMyButtonsRoute=true
    showBackBtn=true
    toggleSelectedTagAction=(action 'toggleSelectedTag')
  }}

  {{#search-topbar
    resultsNumber=buttonsToShow.length
    isMine=true
    showPulsedButtons=showPulsedButtons
  }}
    {{#each selectedTags as |tag|}}
      <span class="hashtag hashtag--white">
        #{{tag.name}}
        <a class="mx-1" href="#" {{action 'toggleSelectedTag' tag}} title="Eliminar">{{svg-jar "cross"}}</a>
      </span>
    {{/each}}
  {{/search-topbar}}
</div>

<div class="container-fluid profile-buttons">
  <div class="row">
    {{#buttons-filters
      buttons=buttons
      buttonsFiltered=buttonsFiltered
      selectedTags=selectedTags
      searchAction=(action 'searchByAddress')
      isShowingModal=isShowingModal
      hideMapLink=true
      isProfileList=true
      resetFilters=resetFilters
      updateSelectedTagsAction=(action 'updateSelectedTags')
      toggleSelectedTagAction=(action 'toggleSelectedTag')
    }}
      {{#unless isSmallDevice}}
        <div class="col-6 px-0">
          <div class="checkbox">
            <label class="checkbox__label mb-0" {{action 'setPulsedButtonsFilter' false}}>
              {{input type="checkbox" checked=(unless showPulsedButtons true false) class="checkbox__checkbox"}}
              <div class="checkbox__content profile-buttons__checkbox">
                <div class="checkbox__text">
                  CREADOS
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="col-6 px-0">
          <div class="checkbox">
            <label class="checkbox__label mb-0" {{action 'setPulsedButtonsFilter' true}}>
              {{input type="checkbox" checked=showPulsedButtons  class="checkbox__checkbox"}}
              <div class="checkbox__content profile-buttons__checkbox">
                <div class="checkbox__text">
                  PULSADOS
                </div>
              </div>
            </label>
          </div>
        </div>
      {{/unless}}
    {{/buttons-filters}}
  </div>
  <div class="row justify-content-center">
    <div class="profile-buttons__avatar col-12 col-lg-3 mb-0">
      {{#if isSmallDevice}}
        <div class="row">
          <div class="col-auto">
            <figure class="ml-auto profile-card__avatar-container">
              {{#if currentUser.hasAvatar}}
                <img src={{avatar.smallThumb}} alt="Avatar" class="profile-card__avatar-container-img">
              {{else}}
                {{svg-jar 'profile_def' class="bg-primary profile-card__avatar-container-icon"}}
              {{/if}}
            </figure>
          </div>
          <div class="col">
            <div class="profile-card__avatar-container-name text-left">
              {{currentUser.nickname}}
            </div>
            <figure class="profile-card__rating text-left m-0">
              <span class="sr-only">Valoración</span>
            </figure>
            <p class="paragraph text-left">
              {{currentUser.description}}
            </p>
            {{#if currentUser.showPhone}}
              <p class="paragraph text-left">
                Telefono: {{currentUser.phone}}
              </p>
            {{/if}}
          </div>
          <div class="col-12">
            <p>
              {{#each currentUser.interests as |interest|}}
                <a href="#" class="hashtag hashtag--yellow">{{interest.name}}</a>
              {{/each}}
            </p>
          </div>
          <div class="col-12">
            {{#promise-button
              type="submit"
              class=(if currentUser.active "profile-buttons__toggle-button profile-buttons__toggle-button--corporative-bg mb-3" "profile-buttons__toggle-button mb-3")
              btnAction=(action 'toggleProfileState')
              hideContentOnLoading=true
            }}
              {{svg-jar "switch" class="icon"}}
            {{/promise-button}}
          </div>
        </div>
      {{else}}
        <div class="row justify-content-center">
          <div class="col-auto">
            <figure class="mx-auto profile-card__avatar-container">
              {{#if currentUser.hasAvatar}}
                <img src={{avatar.smallThumb}} alt="Avatar" class="profile-card__avatar-container-img">
              {{else}}
                {{svg-jar 'profile_def' class="bg-primary profile-card__avatar-container-icon"}}
              {{/if}}
            </figure>
            <div class="profile-card__avatar-container-name">
              {{currentUser.nickname}}
            </div>
            <figure class="profile-card__rating">
              <span class="sr-only">Valoración</span>
            </figure>
          </div>
          <div class="col-12">
            <p class="profile-card__location">
              {{#if hasLocation}}
                {{svg-jar "place_black" class="svg-icon"}}
              {{/if}}
              {{locationAndLanguages}}
            </p>
          </div>
          <div class="col-12">
            <p class="paragraph">
              {{currentUser.description}}
            </p>
            {{#if currentUser.showPhone}}
              <p class="paragraph text-left">
                Telefono: {{currentUser.phone}}
              </p>
            {{/if}}
            <p>
              {{#each currentUser.interests as |interest|}}
                <a href="#" class="hashtag hashtag--yellow">{{interest.name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            {{#promise-button
              type="submit"
              class=(if currentUser.active "profile-buttons__toggle-button profile-buttons__toggle-button--corporative-bg mb-3" "profile-buttons__toggle-button mb-3")
              btnAction=(action 'toggleProfileState')
              hideContentOnLoading=true
            }}
              {{svg-jar "switch" class="icon"}}
            {{/promise-button}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="profile-buttons__list col-12 col-lg-8">
      {{#each buttonsToShow as |button|}}
        <a href="#" class="profile-buttons__list-link" {{action 'selectButton' button}}>
          {{button-card
            routeType="userList"
            button=button
            creator=button.creator
            creatorAvatar=button.creator.avatar
            isList=true
          }}
        </a>
      {{else}}
        <p class="label text-center">No se han encontrado botones.</p>
      {{/each}}
    </div>
  </div>
  {{#if isSmallDevice}}
    <div class="row">
      <div class="profile-buttons__bottom-btns">
        <button class="button-sample border-0 {{if showPulsedButtons "" "profile-buttons__filters-selected"}}" {{action 'setPulsedButtonsFilter' false}} type="button" name="button">
          Creados
        </button>
        <button class="button-sample border-0 {{if showPulsedButtons "profile-buttons__filters-selected"}} profile-buttons__left-button" {{action 'setPulsedButtonsFilter' true}} type="button" name="button">
          Pulsados
        </button>
      </div>
    </div>
  {{/if}}
</div>

{{#if hasSelectedButton}}
  {{#modal-dialog
    onClose=(action 'closeAction')
    onClickOverlay=(action 'closeAction')
    translucentOverlay=true
    animatable=true
    overlayClass="button-file__modal-overlay"
    containerClass="button-file__modal"
    targetAttachment='top'
  }}
    {{#if showProfile}}
      {{#if showPulsedButtons}}
        {{profile-card
          user=selectedButton.creator
          avatar=selectedButton.creator.avatar
          isOwnProfile=false
          closeAction=(action 'goHome')
        }}
      {{else}}
        {{profile-card
          user=currentUser
          avatar=currentUser.avatar
          isOwnProfile=true
          closeAction=(action 'goHome')
        }}
      {{/if}}
    {{else}}
      {{button-file
        showProfile=showProfile
        routeType="userList"
        button=selectedButton
        chats=chats
        closeAction=(action 'selectButton' null)
        openConversation=(action 'openConversation')
        removeButtonTransition=(action 'removeButtonTransition')
        socialShareTransition=(action 'socialShareTransition')
        socialShareNetwork=socialShareNetwork
        socialShareURL=socialShareURL
      }}
    {{/if}}
  {{/modal-dialog}}
{{/if}}
