{{#modal-dialog
  onClose=(action 'closeAction')
  targetAttachment="center"
  translucentOverlay=true
  animatable=true
  overlayClass="index-new-button__modal"
  containerClass=modalClass
}}
  <div class="index-new-button__modal-container-class">
    {{liquid-outlet}}
  </div>
{{/modal-dialog}}

{{#link-to 'index.index.index' class="button-new-type__link-index"}}{{/link-to}}
