html {
  overflow-x: hidden;
  height: 100%;
}

body {
  color: $dark;
  font-family: $font-family-second;
  font-size: 62.5%; // = 10px, 2.4rem 14px, 2.4rem = 24px..
  font-weight: normal;
  height: 100%;
  width: 100%;
  display: table;
  // revise
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  > .ember-view {
    height: 100%;
  }
}

strong {
  font-weight: bold; // revise typo
}

a {
  color: inherit;
}

* {
  &:focus,
  &:active {
    outline: none;
  }
}

::-moz-selection {
  background: $color-corporative;
  color: $color-white;
}

::selection {
  background: $color-corporative;
  color: $color-white;
}
