{{new-button-header
  isNewButton=model.isNew
  class="buttons-new-activate-button__header"
  headerBackground="bg-transparent"
}}
{{button-new-activate button=model toggleButtonState=(action 'toggleButtonState') closeAction=(action 'closeAction')}}
