{{new-button-header
  isNewButton=model.isNew
  class=""
  headerBackground="new-button-header--bg-white"
}}
{{button-new-location button=model nextStepAction=(action 'nextStep') closeAction=(action 'closeAction')}}
