{{#link-to 'index.index.index' class="register-component__close-container"}}{{/link-to}}
{{new-button-header
  isNewButton=model.isNew
  class=""
  headerBackground="bg-primary"
}}
{{register-component-modal newUser=model isModal=true routeName="index.index.new-button.login"}}
