.profile-edition {
  &__container {
    padding-left: rem(25px);
    padding-right: rem(25px);
    min-height: calc(100% - 75px);
  }
  &__button-toggle {
    background: white;
    border: #e5e5e5 1px solid;
    border-radius: rem(4px);
    color: $dark;
    font-size: .85rem;
    font-weight: bold;
    height: rem(50px);
    padding-left: 1rem;
    text-align: left;
    width: 100%;
    &:focus {
      outline: none;
    }
    &--grey-bordered {
      border-color: $dark;
    }
  }
  &__label {
    align-items: center;
    display: flex;
    font-size: .85rem;
    font-weight: bold;
    height: rem(32px);
    margin-bottom: 0;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  &__input {
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
    font-size: .85rem;
    height: rem(45px);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    &--dynamic-height {
      height: auto;
      min-height: 48px;
      & .ember-power-select-multiple-option {
        border-radius: 24px;
        display: inline-block;
        font-size: .65rem;
        margin: 0 .5rem .5rem 0;
        padding: 0.25rem;
        background-color: #FFDD02;
        color: #0E0E0E;
        margin-top: calc((48px - 25px) / 2);
        margin-bottom: 0;
      }
    }
    &:focus {
      box-shadow: none;
      border-color: $dark;
    }
  }
  &__textarea {
    max-height: 20vh;
    min-height: 6.25rem;
  }
  &__activate-button {
    border: 1px solid black;
    width: 100%;
    height: rem(48px);
    background: none;
    margin-bottom: rem(20px);
    &--primary {
      background: $primary;
      border: 1px solid $primary;  
    }
    & .icon {
      height: rem(30px);
      width: rem(30px);
    }
  }
  &__checkbox {
    border: 2px solid $dark;
    border-radius: .3125rem;
  }
  &__avatar {
    width: auto;
    height: 100%;
  }
  &__avatar-container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: rem(100px);
    max-width: rem(100px);
    height: rem(100px);
    width: rem(100px);
    background: white;
  }
  &__main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    & .svg-image {
      max-width: 300px;
      max-height: 300px;
    }
  }
}

@media screen and (min-width: 992px) {
  .profile-edition {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__input {
      // margin-bottom: 1.5rem;
    }
  }
}
