.register {
  &__container {
    // height: 100%;
    min-height: calc((var(--vh, 1vh) * 100) - 0px);
    // height: 100%;
    // max-height: 100vh;
  }
  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}
