.profile-buttons {
  &__avatar {
    position: relative;
    width: auto;
    margin-top: 1rem;
  }
  &__list {
    margin-top: rem(30px);
    max-width: rem(500px);
    margin-bottom: rem(70px);
    &-link {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  &__bottom-btns {
    position: fixed;
    width: 100%;
    bottom: 0px;
    & > button {
      width: 50%;
      height: 100%;
    }
    & > .button-sample:hover {
      opacity: 1;
    }
    & > .button-sample:focus {
      opacity: 1;
    }
  }
  &__left-button {
    position: absolute;
    right: 0px;
  }
  &__checkbox {
    background-color: $primary;
    justify-content: center;
    height: rem(45px);
    align-items: center;
    display: flex;
    font-size: .85rem;
    padding: 1.5rem 2rem;
    position: relative;
    transition: background .2s;
    width: 100%;
  }
  &__filters-selected {
    background: $dark;
    color: $primary;
  }
  &__toggle-button  {
    background-color: transparent;
    border: rem(2px) solid $color-corporative;
    width: 100%;
    height: rem(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 50%;
      height: 50%;
      fill: $color-corporative;
      &:hover {

      }
    }
    & svg {
      position: initial;
      fill: $primary;
    }
    &--corporative-bg {
      background-color: $color-corporative;
      .icon {
        fill: $dark;
      }
    }
  }
}


@media screen and (min-width: 992px) {
  .profile-buttons {
    min-height: calc(100% - 70px);
    &__avatar {
      position: absolute;
      width: calc((100% - 500px) / 2);
      left: 0;
      min-height: calc(100% - 106px);
    }
    &__list {
      min-height: calc(100% - 472px);
    }

    .buttons-filters {
      padding: 0 rem(15px);
    }

    &__bottom-btns {
      & > .button-sample:hover {
        opacity: 0.7;
      }
      & > .button-sample:focus {
        opacity: 1;
      }
    }
  }
}
