<!DOCTYPE html>
<html class="index__html-overflow">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HelpButton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/help-button.css">
    <script src="leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="leaflet-routing-machine.css" />
    {{content-for "head-footer"}}
    <style type="text/css">
      #loader{
        background-color: #EEE;
        position: relative; height: 100%; text-align: center;
      }
      #loader .logo{
        position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0;
        animation: blink normal 2s infinite ease-in-out;
      }
      #loader .logo img{
        max-width: 200px;
      }
      -webkit-keyframes blink {
        0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
        50% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
        100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
      }
      @-moz-keyframes blink {
        0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
        50% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
        100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
      }
      @-ms-keyframes blink {
        0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
        50% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
        100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
      }
      @keyframes blink {
        0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
        50% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
        100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
      }
    </style>
  </head>
  <body>
    <div id="loader">
      <div class="logo">
          <img src="{{rootURL}}assets/svg/logo/logo4.svg" alt="Logo" />
      </div>
    </div>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/help-button.js"></script>
    <script src="{{rootURL}}testem.js"></script>
    <script src="{{rootURL}}leaflet-routing-machine.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
