{{new-button-header
  isNewButton=model.isNew
  class=""
  headerBackground="bg-primary"
}}
{{!-- toggleProperty=(action 'toggleProperty') --}}
{{button-new-share-mobile
  button=model
  isButtonFile=true
  socialShareTransition=(action 'socialShareTransition')
  socialShareNetwork=socialShareNetwork
  socialShareURL=socialShareURL
}}
