<div class="bg-primary">
  {{component-header
    searchAction=(action 'searchByAddress')
    isShowingModal=isShowingModal
    toggleSelectedTagAction=(action 'toggleSelectedTag')
    showBackBtn=true
  }}

  {{#search-topbar
    resultsNumber=buttonsToShow.length
    otherProfile=true
    userName=user.nickname
  }}
    {{#each selectedTags as |tag|}}
      <span class="hashtag hashtag--white">
        #{{tag.name}}
        <a class="mx-1" href="#" {{action 'toggleSelectedTag' tag}} title="Eliminar">{{svg-jar "cross"}}</a>
      </span>
    {{/each}}
  {{/search-topbar}}
</div>

<div class="container-fluid profile-buttons">
  <div class="row">
    {{buttons-filters
      buttons=buttons
      buttonsFiltered=buttonsFiltered
      selectedTags=selectedTags
      searchAction=(action 'searchByAddress')
      isShowingModal=isShowingModal
      hideMapLink=true
      updateSelectedTagsAction=(action 'updateSelectedTags')
      toggleSelectedTagAction=(action 'toggleSelectedTag')
    }}
  </div>
  <div class="row justify-content-center">
    <div class="profile-buttons__avatar col-12 col-lg-3 mb-0">
      {{#if isSmallDevice}}
        <div class="row">
          <div class="col-3">
            <figure class="profile-card__avatar-container">
              {{#if user.hasAvatar}}
                <img src={{user.avatar.smallThumb}} alt="Avatar" class="profile-card__avatar-container-img">
              {{else}}
                {{svg-jar 'profile_def' class="bg-primary profile-card__avatar-container-icon"}}
              {{/if}}
            </figure>
          </div>
          <div class="col-9">
            <div class="profile-card__avatar-container-name text-left">
              {{user.nickname}}
            </div>
            <figure class="profile-card__rating text-left m-0">
              <span class="sr-only">Valoración</span>
            </figure>
            <p class="paragraph text-left">
              {{user.description}}
            </p>
            {{#if user.showPhone}}
              {{#if user.phone}}
                <p class="paragraph text-left">
                  Telefono: {{user.phone}}
                </p>
              {{/if}}
            {{/if}}
          </div>
          <div class="col-12">
            <p class="text-center">
              {{#each user.interests as |interest|}}
                <a href="#" class="hashtag hashtag--yellow">{{interest.name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
      {{else}}
        <div class="row justify-content-center">
          <div class="col-auto">
            <figure class="profile-card__avatar-container">
              {{#if user.hasAvatar}}
                {{!-- {{user.avatar.smallThumb}} --}}
                <img src={{user.avatar.smallThumb}} alt="Avatar" class="profile-card__avatar-container-img">
              {{else}}
                {{svg-jar 'profile_def' class="bg-primary profile-card__avatar-container-icon"}}
              {{/if}}
            </figure>
            <div class="profile-card__avatar-container-name">
              {{user.nickname}}
            </div>
            <figure class="profile-card__rating">
              <span class="sr-only">Valoración</span>
            </figure>
          </div>
          <div class="col-12">
            <p class="profile-card__location">
              {{#if hasLocation}}
                {{svg-jar "place_black" class="svg-icon"}}
              {{/if}}
              {{locationAndLanguages}}
            </p>
          </div>
          <div class="col-12">
            <p class="paragraph">
              {{user.description}}
            </p>
            {{#if user.showPhone}}
              {{#if user.phone}}
                <p class="paragraph text-left">
                  Telefono: {{user.phone}}
                </p>
              {{/if}}
            {{/if}}
            <p class="text-center">
              {{#each user.interests as |interest|}}
                <a href="#" class="hashtag hashtag--yellow">{{interest.name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="profile-buttons__list col-12 col-lg-8">
      {{#each buttonsToShow as |button|}}
        <a href="#" class="profile-buttons__list-link" {{action 'selectButton' button}}>
          {{button-card
            routeType="userList"
            button=button
            creator=button.creator
            creatorAvatar=button.creator.avatar
            isList=true
          }}
        </a>
      {{else}}
        <p class="label text-center">No se han encontrado botones.</p>
      {{/each}}
    </div>
  </div>
</div>

{{#if hasSelectedButton}}
  {{#modal-dialog
    onClose=(action 'closeAction')
    onClickOverlay=(action 'closeAction')
    translucentOverlay=true
    animatable=true
    overlayClass="button-file__modal-overlay"
    containerClass="button-file__modal"
    targetAttachment='top'
  }}
    {{#if showProfile}}
      {{profile-card
        user=user
        avatar=user.avatar
        isOwnProfile=false
        closeAction=(action 'goHome')
      }}
    {{else}}
      {{button-file
        showProfile=showProfile
        routeType="userList"
        button=selectedButton
        closeAction=(action 'selectButton' null)
        openConversation=(action 'openConversation')
        socialShareTransition=(action 'socialShareTransition')
        socialShareNetwork=socialShareNetwork
        socialShareURL=socialShareURL
      }}
    {{/if}}
  {{/modal-dialog}}
{{/if}}
