// TODO: refactor styles, use REM properly, maybe split this styles in other
// blocks in other style files too, ex: aside-info
.index {
  &__html-overflow {
    overflow: initial;
  }
  &__container {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__aside-info{
    order: 2;
    margin-top: rem(15px);
    max-width: 21rem;
    &--overflow {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  &-map {
    &__go-to-list-btn {
      background-color: $primary;
      border-radius: 50%;
      bottom: rem(24px);
      height: rem(50px);
      margin: rem(8px);
      position: absolute;
      padding: rem(6px);
      right: rem(7px);
      text-align: center;
      width: rem(50px);
      z-index: 450;
      &:hover {
        background-color: $dark;
        border: rem(2px) solid $dark;
        & .icon {
          fill: $primary;
        }
      }
    }
    &__localize-user {
      background-color: white;
      border-radius: 50%;
      border: rem(2px) solid $dark;
      bottom: rem(90px);
      height: rem(50px);
      padding: rem(3px);
      position: absolute;
      text-align: center;
      right: rem(7px);
      margin: 8px;
      width: rem(50px);
      z-index: 450;
      & .icon {
        max-height: 80%;
        fill: $dark;
      }
      &:hover {
        background-color: $dark;
        border: rem(2px) solid $dark;
        & .icon {
          fill: white;
        }
      }
      &--selected {
        &:hover {
          background-color: white;
          border: rem(1px) solid #e5e5e5;
          & .icon {
            max-height: 80%;
            fill: $dark;
          }
        }
        background-color: $dark;
        border: rem(2px) solid $dark;
        & .icon {
          fill: white;
        }
      }
      &.promise-button--loading {
        padding: 0;
        & svg{
          position: relative;
          right: 0;
          top: 0;
          bottom: 0;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    &__list-icon {
      width: 2.25rem;
    }
  }
  &-new-button {
    &__modal {
      z-index: 1001;
      &-container-class {
        border: none;
        background-color: #EEEEEE;
        width: 100%;
        background: none;
      }
      &-close {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        background: none;
        box-shadow: none;
        max-height: rem(700px);
        &--bg-primary {
          background-color: $primary;
        }
      }
      &-activate-btn {
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        & + .ember-modal-dialog {
          box-shadow: 0 0 rem(10px) #fff;
        }
      }
    }
  }
  &__button-creation {
    padding: rem(5px);
    // border: 3px solid $dark;
    border-radius: 50%;
    width: rem(166px);
    margin-left: auto;
    margin-right: auto;
    &-border {
      justify-content: center;
      align-items: center;
      padding: 0.3125rem;
      display: flex;
      border: 3px solid #343a40;
      position: absolute;
      z-index: 50;
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 9.375rem;
      box-sizing: border-box;
      opacity: 0;
      animation-name: start-ring;
      animation-delay: 3.5s;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    & svg {
      fill: $primary;
      width: rem(25px);
    }
    &-text {
      font-size: rem(12px);
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }
  }
  &__button-design {
    margin: 0px;
    border: 30px solid #343a40;
    background: #343a40;
    color: #FFDD02;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__no-results-icon {
    max-width: 15rem;
    max-height: 15rem;
    display: block;
    margin: 2rem auto 2rem auto;
  }
}
