$comments-message-border-radius: $border-radius-basic;
$commennts-message-max-width: 300px;
$comments-message-me-after-top: 1rem solid $color-corporative;
$comments-message-me-after-lateral: .75rem solid transparent;

.comments-message {
  border: 1px solid transparent;
  border-radius: $comments-message-border-radius;
  max-width: $commennts-message-max-width;
  padding: 1rem;
}

.comments-message--me {
  background: $color-corporative;
  position: relative;
}

.comments-message--me:after {
  border-top: $comments-message-me-after-top;
  border-right: $comments-message-me-after-lateral;
  border-left: $comments-message-me-after-lateral;
  bottom: -1rem;
  display: block;
  content: '';
  height: 0;
  left: 1rem;
  position: absolute;
  width: 0;
}

.comments-message--you {
  background: $color-white;
  border: 1px solid $color-gray;
  margin-left: auto;
}

.comments-message__day,
.comments-message__hour {
  font-size: .75rem;
}

.comments-message__day {
  background: $color-dark-gray;
  border-radius: $border-radius-semicircle;
  color: $color-white;
  display: inline-block;
  padding: .5rem;
}

.comments-message__hour {
  color: $color-gray;
  text-align: right;
}
