$header-background: $color-corporative;
$header-center-width: 100%;
$header-nav-width: 50px;
$header-nav-icon-width: 25px;

.header {
  align-items: center;
  background: $header-background;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;

  &--min-height {
    min-height: rem(62px);
  }
  &--big-height {
    height: rem(75px);
  }
  &--font-white {
    color: $color-white;
    & g,
    & path {
      fill: $color-white;
    }
  }
}

.header__button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }

  .icon {
    width: 30px;
    height: auto;
    max-height: 30px;
  }
  & .icon-white {
    fill: white;
  }
}

.header__center {
  flex: 0 1 $header-center-width;
  text-align: center;
  padding: 0 rem(10px);
  & .small-header-icon {
    max-height: rem(19px);
  }
  .icon {
    max-width: 100%;
    max-height: 25px;
    height: auto;
  }
}

.header__nav {
  flex: 0 1 $header-nav-width;
  text-align: center;
}

.header__link {
  height: 100%;
  width: 100%;
}

.header__title {
  font-size: .85rem;
  font-weight: bold;
  letter-spacing: .05px;
  margin-bottom: 0; // revise
  text-transform: uppercase;
}

.header--black {
    background: $dark;
}

.header--white {
  background: transparent;
}
