.button-file {
  overflow-y: auto;
  &__modal {
    background-color: transparent;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0);
    // left: -50%;
    width: 100%;
    height: 100%;
    &-overlay {
      z-index: 1001;
      background-color: $dark;
    }
    & .icon--white{
      height: rem(30px);
      width: rem(30px);
    }
    &--top-position {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  }
  &__container {
    width: 100%;
    background: none;
    border: none;
    max-height: calc(100% - 48px);
    height: 100%;
    margin-top: rem(48px);
    padding-top: rem(42px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    &:focus {
      outline: none;
    }
  }
  &__modal .button-file__card-button {
    max-width: rem(500px);
    width: 100%;
  }
  &__modal > .ember-view {
    background-color: transparent;
    box-shadow: none;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    & > .header {
      left: calc((100% - 100vw) / 2);
      background-color: #343a40;
      width: 100vw;
      position: absolute;
    }
  }
  &__card-button {
    margin-left: auto;
    margin-right: auto;
    cursor: auto;
    & > div {
      box-shadow: none;
      border-radius: 0px;
      border: 0px;
      margin-bottom: 0px;
    }
  }
  &__button-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    margin-left: auto;
    margin-right: auto;
  }
  &__below-buttons {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(500px);
    min-height: fit-content;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 51;
  }
  &__yellow-circle {
    background-color: $primary;
    border-radius: 50%;
    width: rem(50px);
    height: rem(50px);
    border: 0;
    cursor: pointer;
    &--big-circle {
      width: rem(150px);
      height: rem(150px);
      justify-content: center;
    }
    &--inactive-button {
      background-color: transparent;
      border-color: $primary;
      border: 2px solid $primary;
      & path {
        fill: $primary;
      }
    }
    &--disabled {
      background-color: $dark;
      & g {
        fill: $primary;
      }
    }
    &-content {
      display: flex;
      align-items: center;
      &--text {
        padding-right: rem(3px);
        justify-content: flex-end;
        font-size: rem(17px);
      }
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &--layer-top {
        z-index: 52;
      }
      & > .button-circle {
        width: rem(50px);
        height: rem(50px);
        border: 0;
        cursor: pointer;
      }
    }
  }
  &__yellow-circle-disabled {
    pointer-events: none;
    background-color: #C8C8C8;
    color: #858585;
  }
  &__yellow-circle-disabled g {
    fill: #858585;
  }

  &__yellow-circle-disabled .fill-icon {
    fill: #858585;
  }

  &__small-icon {
    height: rem(22px);
  }
  &__big-icon {
    height: rem(50px);
  }
  &__messages-container {
    max-width: rem(500px);
    margin-left: auto;
    margin-right: auto;
  }
  &__messages {
    box-shadow: none;
  }
  &__activate-btn-text {
    font-size: .85rem;
    color: $primary;
    text-align: center;
    margin-top: 1rem;
  }
}


@media screen and (max-width: 992px) {
  .button-file {
    &__modal {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    &__card-button {

    }
  }
}
