.button-icon {
  height: rem(50px);
  width: rem(50px);
  position: relative;
  margin-bottom: 0;
  &--change {
    &:before,
    &:after {
      content: '';
      display: block;
      width: rem(25px);
      height: rem(50px);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
    }
    &:before {
      left: 0;
      background-color: $color-green;
      border-bottom-left-radius: rem(50px);
      border-top-left-radius: rem(50px);
    }
    &:after {
      right: 0;
      background-color: $color-red;
      border-bottom-right-radius: rem(50px);
      border-top-right-radius: rem(50px);
    }

    .button-icon__image {
      border-color: transparent;
    }
    .button-icon__arrow {
      &:after {
        border-top-color: $color-green;
      }
    }
  }

  &--swap {
    &:before,
    &:after {
      content: '';
      display: block;
      width: rem(25px);
      height: rem(50px);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
    }
    &:before {
      left: 0;
      background-color: $color-red;
      border-bottom-left-radius: rem(50px);
      border-top-left-radius: rem(50px);
    }
    &:after {
      right: 0;
      background-color: $color-green;
      border-bottom-right-radius: rem(50px);
      border-top-right-radius: rem(50px);
    }

    .button-icon__image {
      border-color: transparent;
    }
    .button-icon__arrow {
      &:after {
        border-top-color: $color-red;
      }
    }
  }

  &--need {
    .button-icon__image {
      border-color: $color-red;
      background-color: $color-red;
    }

    .button-icon__arrow {
      &:after {
        border-top-color: $color-red;
      }
    }
  }
  &--offer {
    .button-icon__image {
      border-color: $color-green;
      background-color: $color-green;
    }
    .button-icon__arrow {
      &:after {
        border-top-color: $color-green;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: rem(5px);
    border-style: solid;
    z-index: 1;
  }
  &__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    &:after,
    &:before {
      content: '';
      display: block;
      height: rem(10px);
      width: rem(5px);
      border-top: rem(10px) solid transparent;
      border-right: rem(6px) solid transparent;
      border-left: rem(6px) solid transparent;
      position: absolute;
      bottom: rem(-9px);
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}
