.menu-component {
  height: 100%;
  &__header {
    background-color: $dark;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    & g,
    & path {
      fill: $color-white;
    }
    &--font-dark {
      color: $dark;
      & g,
      & path {
        fill: $dark;
      }
    }
  }
  &__container {
    height: calc(100% - 48px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    min-height: rem(550px);
  }
  &__container-no-auth {
    height: 100%;
    min-height: rem(500px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: $dark;
  }
  &__half-screen {
    height: max-content;
    flex-grow: 1;
    padding-bottom: 1rem;
  }
  &__option-div {
    border: 1px solid white;
    text-align: left;
    padding: 1rem;
    &-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .75rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: white;
      align-self: center;
    }
  }
  &__create-button {
    min-height: rem(200px);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: $primary;
    height: 100%;
    &-border {
      justify-content: center;
      align-items: center;
      padding: rem(5px);
      background: #FFDD02;
      display: flex;
      border: 3px solid $dark;
      position: absolute;
      z-index: 50;
      width: rem(150px);
      height: rem(150px);
      border-radius: rem(150px);
      box-sizing: border-box;
      opacity: 0;
      animation-name: start-ring;
      animation-delay: 3.5s;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    &-text {
      font-size: rem(12px);
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    & svg {
      fill: $primary;
      width: rem(40px);
    }
  }
  &__icon {
    height: 100%;
    max-width: 2.75rem;
    max-height: 2.75rem;
    fill: white;
  }
  &__avatar {
    height: 100%;
    width: auto;
    // max-width: rem(60px);
    max-width: 2.75rem;
    max-height: 2.75rem;
    // max-height: rem(60px);
    fill: $dark;
    border-radius: 50%;
  }
  &__avatar-container {
    max-height: 3.75rem;
    max-width: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: rem(60px);
    width: rem(60px);
    padding: 0;
  }
  &__button-design {
    position: absolute;
    z-index: 52;
    margin: 0px;
    border: 30px solid $dark;
    background: $dark;
    color: #FFDD02;
    border-radius: 50%;
    height: rem(150px);
    width: rem(150px);
    align-items: center;
    display: flex;
    justify-content: center;
    & svg {
      fill: $primary;
    }
  }
  &__dropdown {
    &-header {
      color: white;
      text-align: left;
      &-text {
        line-height: rem(27px);
        font-size: .85rem;
        font-weight: bold;
        margin-bottom: 0;
      }
      & .icon {
        fill: white;
      }
    }
  }
  // CHECK
  & .settings {
    padding-left: rem(8px);
    padding-right: rem(8px);
    height: 100%;
    & > .liquid-child {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 992px) {
  .menu-component {
    &__container {
      min-height: 0;
    }
    &__option-div {
      height: rem(62px);
    }
    &__avatar {
      height: 100%;
      width: auto;
    }
    &__avatar-container {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      max-height: rem(28px);
      max-width: rem(28px);
      height: rem(28px);
      width: rem(28px);
      background: #EEEEEE;
      margin-left: rem(13px);
    }
    &__half-screen {
      padding-bottom: 0;
    }
  }
}
