.time-picker {
  &__selected {
    border: 1px solid $dark;
  }

  &__dropdown {
    &-trigger {
      border: none;
      background-color: transparent;
      padding: rem(5px);
      width: 100%;
      text-align: center;
    }
    &-content {
      width: 100%;
      margin-top: rem(10px);
      text-align: center;
      border: 1px solid $dark;
      max-height: rem(150px);
      overflow-y: auto;
    }
    &-option {
      display: block;
      padding: rem(5px) 0;
      cursor: pointer;
      width: 100%;
      background: transparent;
      border: unset;
      &:hover {
        background-color: $dark;
        color: white;
      }

      & + .time-picker__dropdown-option {
        border-top: rem(1px) solid $dark;
      }
    }
  }
}
