.trending-tags {
  width: 100%;
  z-index: 401;
  background-color: $primary;
  position: relative;
  margin-top: rem(15px);
  padding: rem(40px) rem(10px);
  display: block;
  min-width: rem(260px);
  border-radius: rem(5px);
  &__title,
  &__tag-name,
  &__buttons-count {
    font-size: rem(16px);
  }
  &__title,
  &__tag-name {
    font-weight: bold;
  }
  &__tag-name,
  &__buttons-count {
    margin-bottom: 0;
  }
  &__buttons-count {
    color: #8e8e8e;
  }
  &__tag-element {
    & + .trending-tags__tag-element {
      margin-top: rem(3px);
    }
  }
  &__buttons-align {
    display: flex;
    justify-content: space-evenly;
  }
}


@media screen and (max-width: 991px) {
  .trending-tags {
    z-index: 1;
    margin-top: rem(15px);
    padding: rem(25px) rem(10px);
  }
}
