.title__h1,
.title__h2,
.title__h3,
.paragraph {
  color: $color-black;
}

.title__h1 {
  font-size: 4rem;
  font-weight: $font-weight-ligth;
  line-height: 4.5rem;
}

.title__h2 {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  line-height: 3.5rem;
}

.title__h3 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  line-height: 2.5rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  line-height: 1.5rem;

  a {
    color: $color-black;
    border-bottom: 1px solid $dark;
    text-decoration: none;

    &:hover {
      border-bottom: 0;
    }
  }
}
