{{#if (is-equal buttonsDisplay "list")}}
  <div class="{{if isSmallDevice "mx-auto "}}col-12 col-lg-8 list">
    {{#each buttonsToShow as |button|}}
      {{#link-to 'index.index.button' button.id}}
        {{button-card
          button=button
          creator=button.creator
          creatorAvatar=button.creator.avatar
          isList=true
        }}
      {{/link-to}}
    {{else}}
      {{svg-jar "world" class="index__no-results-icon"}}
      <p class="label text-center">¡No se han encontrado botones creados en la zona!</p>
      <p class="label text-center">Crea tu botón para que alguien te contacte:</p>
      {{#link-to 'index.index.new-button' 'new'}}
        <div class="index__button-creation">
          <div class="index__button-creation-border">
          </div>
          <div class="row index__button-design">
            <div class="col-12 text-center">{{svg-jar "create"}}</div>
            <div class="col-12 index__button-creation-text">
              <strong>CREAR BOTÓN</strong>
            </div>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
  {{#if isSmallDevice}}
    <div class="list__go-to-index-btn">
      {{#link-to 'index.index' (query-params buttonsDisplay="map") class="btn btn-link" title="search"}}
        {{svg-jar "place" class="svg-icon"}}
      {{/link-to}}
    </div>
  {{/if}}
{{else}}
  <section class="search-map" style={{searchMapStyles}}>
    {{#leaflet-map
      bounds=bounds
      onLoad=(action "loadMap")
      onMoveend=(action "mapMoveEnd")
      onZoomend=(action "mapZoomEnd")
      zoomControl=false
      minZoom=minZoom
      maxZoom=18
      as |layers|
    }}
      {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#each buttonsToShow as |button|}}
        {{#layers.marker
          location=button.location
          onClick=(action 'markerClick' button.id)
          icon=(div-icon
            html=(button-icon button button.creator.avatar)
            iconSize=(point 50 60) iconAnchor=(point 25 60)
          )
        }}
        {{/layers.marker}}
      {{/each}}
      {{#if showUserPosition}}
        {{circle-marker-layer location=userPosition}}
      {{/if}}
    {{/leaflet-map}}

    {{#if isSmallDevice}}
      {{#promise-button
        class=userMarkerClass
        btnAction=(action 'localizeUser')
        hideContentOnLoading=true
      }}
        {{svg-jar "center" class="icon"}}
      {{/promise-button}}
      {{#link-to 'index.index' (query-params buttonsDisplay="list") class="btn btn-link index-map__go-to-list-btn" title="search"}}
        {{svg-jar "list_view" class="icon index-map__list-icon"}}
      {{/link-to}}
    {{/if}}
  </section>
{{/if}}

{{outlet}}
