{{head-layout}}
{{notification-container position="top"}}

  {{outlet}}

{{!-- Footer --}}
{{#unless hideFooter}}
  <div class="container-fluid application-footer {{if mapFooterClass "application-footer--map"}}">
    <div class="row">
      <div class="col-2">
        {{svg-jar "svg-logo-footer"}}
      </div>
      <div class="col-9 ml-5  {{if mapFooterClass "mt-5"}}">
        <div class="row application-footer__links">
          <div class="col-auto">
            <div class="mb-1 mt-4">
              <a href="#" class="">Hazte <i>helper</i></a>
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="info")}}¿Quiénes somos?{{/link-to}}
            </div>
            <div class="mb-1">
              <a href="#" class="">Ayuda</a>
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Soporte</strong>
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="why")}}Preguntas Frecuentes{{/link-to}}
            </div>
            <div class="mb-1">
              <a href="#">Consejos de seguridad</a>
            </div>
            <div class="mb-1">
              <a href="#">Reglas de convivencia</a>
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Legal</strong>
            </div>
            <div class="mb-1">
              <a href="#">Políticas y convenciones</a>
            </div>
            <div class="mb-1">
              <a href="#">Políticas de privacidad</a>
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Extras</strong>
            </div>
            <div class="mb-1">
              <a href="#">Hazte helper</a>
            </div>
            <div class="mb-1">
              <a href="#">Colaborar con Helpbuttons</a>
            </div>
            <div class="mb-1">
              <a href="#">Crea tu propia red</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a href="https://twitter.com/Helpbuttons" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "twitter-brands" class="application-footer__social-network-icon"}}
        </a>
        <a href="https://www.facebook.com/Helpbuttonsorg-1235228986679701/?ref=br_rs" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "facebook-official" class="application-footer__social-network-icon"}}
        </a>
        <a href="https://www.instagram.com/helpbuttons/" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "instagram-brands" class="application-footer__social-network-icon"}}
        </a>
      </div>
    </div>
  </div>
{{/unless}}
