{{#if showOnlyCreate}}
  {{!-- Show Only home page --}}
  {{#if isShowingMenuModal}}
    {{menu-component
      isSmallDevice=isSmallDevice
      isShowingMenuModal=isShowingMenuModal
      classNames="menu-component bg-primary"
      hideWelcome=hideWelcome
    }}
  {{else}}
    {{home-welcome-mobile
      isShowingMenuModal=isShowingMenuModal
    }}
  {{/if}}
{{else}}
  {{!-- Show home page & buttons list/map --}}
  <div class="bg-primary">
    {{!-- Header --}}
    {{component-header
      currentUser=currentUser
      searchAction=(action 'searchByAddress')
      isShowingModal=isShowingModal
      toggleSelectedTagAction=(action 'toggleSelectedTag')
      hideWelcome=hideWelcome
      loginTransition=(action 'loginTransition')
    }}

    {{#search-topbar
      resultsNumber=buttonsToShow.length
    }}
      {{#each selectedTags as |tag|}}
        <span class="hashtag hashtag--white">
          #{{tag.name}}
          <a class="mx-1" href="#" {{action 'toggleSelectedTag' tag}} title="Eliminar">{{svg-jar "cross"}}</a>
        </span>
      {{/each}}
    {{/search-topbar}}
  </div>
  <div class="container index__container">
    <div class="row">
      {{!-- Filtros --}}
      {{buttons-filters
        buttons=buttons
        buttonsFiltered=buttonsFiltered
        selectedTags=selectedTags
        searchAction=(action 'searchByAddress')
        updateSelectedTagsAction=(action 'updateSelectedTags')
        toggleSelectedTagAction=(action 'toggleSelectedTag')
        isShowingModal=isShowingModal
        localizeUser=(action 'localizeUser')
        isMapRoute=isMapRoute
        userMarker=userMarker
        showAddressSearch=true
        id="buttonsFiltersId"
        isIndexRoute=true
      }}
      {{#unless isSmallDevice}}
        <div style={{asideStyles}} class="px-0 col-4 index__aside-info {{if isMapRoute 'index__aside-info--overflow' ''}}">
          {{home-welcome}}
          {{trending-tags}}
        </div>
      {{/unless}}

      {{#if loading}}
        {{loading-overlay showOverlay=loading class="col-12 text-center loading-overlay__load-over-map"}}
      {{/if}}
      {{outlet}}
    </div>
  </div>
{{/if}}
