{{component-header
  searchAction=(action 'searchByAddress')
  isShowingModal=isShowingModal
  showLinkToHome=true
}}
<div class="container profile-edition__container">
  <div class="row pt-4">
    <div class="col-12 col-lg-3 profile-edition__main-image">
      {{svg-jar "world" class="svg-image"}}
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mb-3">
        <div class="col-12">
          <button class="profile-edition__button-toggle {{if showProfileEdition "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showProfileEdition'}} type="button" name="button">Editar perfil</button>
        </div>
        {{#if showProfileEdition}}
          <div class="col-12 col-lg-4 mt-4">
            <label class="profile-edition__label" for="">Nombre de usuario</label>
          </div>
          <div class="col-12 col-lg-8 mb-4 my-lg-4">
            {{input value=currentUser.nickname type="string" class="form-control profile-edition__input"}}
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Nombre</label>
          </div>
          {{!-- Replace by real name --}}
          <div class="col-12 col-lg-8 mb-4">
            {{input value=currentUser.name type="string" class="form-control profile-edition__input"}}
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Correo electrónico</label>
          </div>
          <div class="col-12 col-lg-8">
            {{input value=currentUser.email type="string" class="form-control profile-edition__input"}}
          </div>
          <div class="offset-lg-4 col-8 mb-4">
            <strong>El correo electrónico no se muestra públicamente</strong>
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Teléfono</label>
          </div>
          <div class="col-12 col-lg-8">
            {{input value=currentUser.phone type="string" class="form-control profile-edition__input"}}
          </div>
          <div class="offset-lg-4 col-8 mb-4">
            <strong>El teléfono no se muestra públicamente</strong>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="offset-lg-4 col-12 col-lg-4 mr-1 mb-4">
                <div class="checkbox">
                  <label class="checkbox__label mb-0">
                    {{input change=(action 'toggleShowPhone') type="checkbox" checked=currentUser.showPhone  class="form-control checkbox__checkbox"}}
                    <div class="checkbox__content checkbox__content--small profile-edition__checkbox">
                      <div class="checkbox__text">
                        Mostrar telefono
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Imagen de perfil</label>
          </div>
          <div class="col-auto d-flex align-items-center">
            {{#file-upload
              name="photos"
              for="upload-photo"
              accept="image/gif, image/jpeg, image/png, image/jpg"
              multiple=false
              onfileadd=(action "uploadImage")
             }}
              <a tabindex=0>{{svg-jar 'camera' class="button-new-description__icon"}}</a>
            {{/file-upload}}
          </div>
          {{#if hasPendingAvatar}}
            <div class="col-6 col-lg-4 px-0 profile-edition__avatar-container">
              {{#file-upload
                name="photos"
                for="upload-photo"
                accept="image/gif, image/jpeg, image/png, image/jpg"
                multiple=false
                onfileadd=(action "uploadImage")
               }}
                <img src={{currentUser.avatarFile.url}} alt="Avatar" class="profile-edition__avatar">
              {{/file-upload}}
            </div>
          {{/if}}
          <div class="offset-lg-4 col-8 mb-4">
            <strong>Seleccionar de dispositivo/tomar foto</strong>
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Descripción</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{textarea class="form-control profile-edition__input profile-edition__textarea" placeholder="p.ej. Soy estudiante de física y estoy haciendo un doctorado ahora en Madrid por unos meses. Me gustaría colaborar en el barrio..." value=currentUser.description}}
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Intereses</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{#power-select-multiple-with-create
                selected=selectedInterests
                oncreate=(action 'createNewTag' 'selectedInterests')
                search=(action 'searchTags')
                options=trendingTags
                onchange=(action (mut selectedInterests))
                showCreatePosition="top"
                showCreateWhen=(action "checkTagAlreadyExists")
                loadingMessage="Buscando intereses..."
                placeholder="p.ej. #mascotas #mayores #terceraedad #deporte"
                triggerClass="select__select profile-edition__input profile-edition__input--dynamic-height ember-power-select-no-icon"
                dropdownClass="select__option"
                buildSuggestion=(action 'tagSuggestion')
                searchMessage=false
                as |tag|
            }}
              <div {{action 'removeTag' 'selectedInterests' tag}} class="ember-power-select-multiple-remove-btn">
                #{{tag.name}}
                <div class="button-counter">
                  {{tag.buttonsCounter}} buttons
                </div>
              </div>
            {{/power-select-multiple-with-create}}
          </div>

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Compartir mi ubicación con Helpbuttons.org</label>
          </div>
          <div class="col-6 col-lg-4 mr-1 mb-4">
            <div class="checkbox">
              <label class="checkbox__label mb-0">
                {{input change=(action 'shareLocation' 'isSharingLocation') type="checkbox" checked=isSharingLocation  class="form-control checkbox__checkbox"}}
                <div class="checkbox__content checkbox__content--small profile-edition__checkbox">
                  <div class="checkbox__text">
                    Compartir
                  </div>
                </div>
              </label>
            </div>
          </div>
          {{loading-overlay showOverlay=showSpinner class=(if showSpinner "col-2" "d-none")}}

          <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Mis idiomas</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{#power-select-multiple
              selected=selectedLanguages
              onchange=(action (mut selectedLanguages))
              search=(action 'searchLanguages')
              options=languages
              placeholder="Buscar por ej: #español #ingles"
              triggerClass="select__select profile-edition__input profile-edition__input--dynamic-height ember-power-select-no-icon"
              dropdownClass="select__option"
              searchMessage=false
              as |tag|
            }}
              <div {{action 'removeTag' 'selectedLanguages' tag}} class="ember-power-select-multiple-remove-btn">
                #{{tag.name}}
              </div>
            {{/power-select-multiple}}
          </div>

          {{!-- <div class="col-12 col-lg-4">
            <label class="profile-edition__label" for="">Idioma de la app</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{#power-select
              options=languageOptions
              selected=currentUser.appLanguage
              searchEnabled=false
              onchange=(action (mut currentUser.appLanguage))
              triggerClass="profile-edition__input"
              dropdownClass=""
              as |option|
            }}
              {{option}}
            {{/power-select}}
          </div> --}}

          <div class="col-12 col-lg-4">
            {{#if currentUser.active}}
              <label class="profile-edition__label" for="">Desactivar perfil (Activado)</label>
            {{else}}
              <label class="profile-edition__label" for="">Activar perfil (Desactivado)</label>
            {{/if}}
          </div>
          <div class="col-12 col-lg-8">
            <button class="profile-edition__activate-button {{if currentUser.active "profile-edition__activate-button--primary"}}" {{action 'toggleProperty' 'currentUser.active'}} type="button" name="button">
              {{svg-jar 'switch' class="icon"}}
            </button>
          </div>
          <div class="offset-lg-4 col-8 mb-4">
            <strong>Si desactivas tu perfil tus botones dejarán de ser accesibles aunque seguirán existiendo para cuando los necesites.</strong>
          </div>

          <div class="col-12">
            {{#promise-button
              type="button"
              class="button-sample border-0"
              btnAction=(action 'updateUserProfile')
              hideContentOnLoading=false
              disabled=updateUserDisabled
            }}
              Guardar cambios
            {{/promise-button}}
          </div>
        {{/if}}
      </div>

      {{!-- CHANGE PASSWORD --}}
      <div class="row mb-3">
        <div class="col-12">
          <button class="profile-edition__button-toggle {{if showPasswordEdition "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showPasswordEdition'}} type="button" name="button">Contraseña</button>
        </div>
        {{#if showPasswordEdition}}
          <div class="col-12 col-lg-4 my-4">
            <label class="profile-edition__label" for="">Contraseña</label>
          </div>
          <div class="col-12 col-lg-8 my-4">
            {{input value=currentUser.currentPassword type="password" class="form-control profile-edition__input"}}
          </div>
          <div class="col-12 col-lg-4 mb-4">
            <label class="profile-edition__label" for="">Nueva contraseña</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{input value=currentUser.password type="password" class="form-control profile-edition__input"}}
          </div>
          <div class="col-12 col-lg-4 mb-4">
            <label class="profile-edition__label" for="">Confirmar contraseña</label>
          </div>
          <div class="col-12 col-lg-8 mb-4">
            {{input value=currentUser.passwordConfirmation type="password" class="form-control profile-edition__input"}}
          </div>
          <div class="col-12">
            <button class="button-sample border-0" {{action 'changePassword'}} type="button" name="button" disabled={{changePasswordDisabled}}>
              Guardar cambios
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Security & Privacity settings --}}
      <div class="row mb-3">
        <div class="col-12">
          <button class="profile-edition__button-toggle {{if showSecurityAndPrivacity "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showSecurityAndPrivacity'}} type="button" name="button">Seguridad y privacidad</button>
        </div>
        {{#if showSecurityAndPrivacity}}
          <div class="col-12 mt-2">
            <label class="profile-edition__label" for="">Funcionalidad en desarrollo</label>
          </div>
        {{/if}}
      </div>
      {{!-- Notifications settings --}}
      <div class="row mb-3">
        <div class="col-12">
          <button class="profile-edition__button-toggle {{if showNotificationsSettings "profile-edition__button-toggle--grey-bordered"}}" {{action 'toggleProperty' 'showNotificationsSettings'}} type="button" name="button">Notificaciones</button>
        </div>
        {{#if showNotificationsSettings}}
          <div class="col-12 mt-2">
            <label class="profile-edition__label" for="">Funcionalidad en desarrollo</label>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</div>
